.news-detail
	.container
		.row
			.col-lg-9
				h1 Khắc phục 'thẻ vàng' trong khai thác thủy sản:  “Vẫn còn nhiều bất cập”
				time 15/05/2019 15:05:19 PM
				.option
					a.mdi.mdi-share-variant(href="#")
					a.mdi.mdi-printer(href="#")
					a.mdi.mdi-cloud-download(href="#")
				.brief-content
					p 
						i Bộ Nông nghiệp và Phát triển nông thôn đề nghị Nghệ An, Hà Tĩnh và Phú Yên phải triển khai các nhiệm vụ, giải pháp cấp bách khắc phục cảnh báo "thẻ vàng" của EC về chống khai thác IUU.
					br
				.full-content

					img(src="./img/1.jpg", alt="")
					br
					p Bộ Nông nghiệp và Phát triển nông thôn vừa có đợt kiểm tra việc thực hiện các giải pháp khắc phục "thẻ vàng" của Ủy ban châu Âu (EC) đối với hải sản khai thác tại các tỉnh Nghệ An, Hà Tĩnh và Phú Yên.
					p Kết quả kiểm tra cho thấy tại các địa phương này còn nhiều bất cập và thiếu quyết liệt trong việc triển khai các giải pháp khắc phục "thẻ vàng" IUU.
					br
					p Do đó, Bộ Nông nghiệp và Phát triển nông thôn đề nghị các địa phương trên trong thời gian tới cần phải triển khai các nhiệm vụ, giải pháp cấp bách khắc phục cảnh báo "thẻ vàng" của EC về chống khai thác IUU (đánh bắt cá bất hợp pháp, không báo cáo và không được kiểm soát) phải đi đôi với triển khai Luật Thủy sản, đáp ứng được yêu cầu phát triển nghề cá bền vững có trách nhiệm, quản lý nghề cá theo chuỗi.
					p Đồng thời, các địa phương ph ải đảm bảo đầy đủ nguồn lực, vật lực triển khai các nhiệm vụ, giải pháp về chống khai thác IUU theo ý kiến chỉ đạo của Thủ tướng Chính phủ; giải quyết có hiệu quả, dứt điểm tình trạng tàu cá vi phạm vùng biển nước ngoài.
					br
					img(src="./img/2.jpg", alt="")
					br
					p Bên cạnh đó, xây dựng kế hoạch tổng thể, bố trí kinh phí, nguồn lực để phổ biến, triển khai Luật Thủy sản; trong đó, đặc biệt tập trung thực hiện các quy định mới, các quy định về chống khai thác IUU như lắp đặt thiết bị giám sát hành trình, thực hiện quy định tàu cá có chiều dài từ 15m trở lên chỉ được cập cảng chỉ định, ban hành danh sách tàu cá khai thác IUU; thực hiện nghiêm các quy định về nhật ký khai thác, cấp giấy phép theo hạn ngạch tàu cá, giấy phép đối với tàu hậu cần nghề cá, cơ sở dữ liệu tàu cá...
					p Theo Bộ Nông nghiệp và Phát triển nông thôn, kết quả kiểm tra tại 3 địa phương trên cho thấy còn nhiều bất cập trong việc thực hiện các giải pháp chống khai thác IUU.
					p Cụ thể, tại Nghệ An, việc kiểm tra, kiểm soát tàu cá ra vào cảng, kiểm soát sản lượng cập bến chưa đáp ứng được tiêu chí, nội dung kiểm tra theo quy định; việc ghi chép hồ sơ tàu cá ra, vào cảng và kiểm soát sản lượng cập bến còn nhiều sai sót, đặc biệt là ngày tàu cá ra, vào cảng; chưa thực hiện việc thu nộp sổ nhật ký khai thác hải sản. Ben cạnh đó, vẫn diễn ra tình trạng tàu cá không báo cáo theo quy định trước khi cập cảng...
					br
					img(src="./img/3.jpg", alt="")
					br
					p Cùng đó, việc lắp đặt thiết bị giám sát hành trình cho tàu cá có chiều dài từ 15m trở lên theo quy định còn chậm; đặc biệt, chưa có phương án, kế hoạch lắp đặt thiết bị giám sát hành trình cho tàu cá có chiều dài từ 24m trở lên.
					br
					p Đối với tỉnh Hà Tĩnh, việc kiểm tra, kiểm soát tàu cá rời cảng chưa đảm bảo tiêu chí kiểm soát theo quy định; hồ sơ kiểm soát tàu cá rời cảng còn thiếu, chưa kiểm tra được toàn bộ tình trạng tàu cá không có số đăng ký và vẫn được phép xuất bến.
					p Hầu hết các tàu cá chưa thực hiện quy định thông báo trước khi tàu cập cảng. Cơ sở dữ liệu tàu cá và thống kê sản lượng cập bến đã có nhưng chưa hoàn thiện, đầy đủ. Việc lắp đặt thiết bị giám sát hành trình còn bất cập...
					br
					p Tại Phú Yên, tình hình tàu cá và ngư dân vi phạm khai thác hải sản trái phép ở vùng biển nước ngoài còn tiếp diễn; việc xử lý các vi phạm này chưa nghiêm. Tình trạng tàu cá thực hiện bốc dỡ sản lượng khai thác trên cầu cảng nhưng không có trong danh sách các tàu cá khai báo trước khi cập cảng còn phổ biến; vẫn còn tàu cá không báo cáo trước khi cập cảng...
					br
					p Bên cạnh đó, tỉnh chưa có kế hoạch lắp đặt thiết bị giám sát hành trình cho tàu cá có chiều dài từ 15m trở lên (toàn tỉnh có khoảng 437 tàu), hiện mới lắp đặt thiết bị giám sát hành trình cho 13 tàu cá có chiều dài từ 24m trở lên...
			.col-lg-3
				.side-news
					h2 Tin tức khác
					.item
						figure
							.img
								a(href="#")
									img(src="./img/1.jpg", alt="")
							figcaption
								time 15/05/2019 15:05:19 PM
								h4
									a(href="#") Châu Á hấp dẫn thủy sản Việt Nam
					.item
						figure
							.img
								a(href="#")
									img(src="./img/1.jpg", alt="")
							figcaption
								time 15/05/2019 15:05:19 PM
								h4
									a(href="#") Châu Á hấp dẫn thủy sản Việt Nam
					.item
						figure
							.img
								a(href="#")
									img(src="./img/1.jpg", alt="")
							figcaption
								time 15/05/2019 15:05:19 PM
								h4
									a(href="#") Châu Á hấp dẫn thủy sản Việt Nam
					.item
						figure
							.img
								a(href="#")
									img(src="./img/1.jpg", alt="")
							figcaption
								time 15/05/2019 15:05:19 PM
								h4
									a(href="#") Châu Á hấp dẫn thủy sản Việt Nam
				.side-news
					h2 Tin tức khác
					.item
						figure
							.img
								a(href="#")
									img(src="./img/1.jpg", alt="")
							figcaption
								time 15/05/2019 15:05:19 PM
								h4
									a(href="#") Châu Á hấp dẫn thủy sản Việt Nam
					.item
						figure
							.img
								a(href="#")
									img(src="./img/1.jpg", alt="")
							figcaption
								time 15/05/2019 15:05:19 PM
								h4
									a(href="#") Châu Á hấp dẫn thủy sản Việt Nam
					.item
						figure
							.img
								a(href="#")
									img(src="./img/1.jpg", alt="")
							figcaption
								time 15/05/2019 15:05:19 PM
								h4
									a(href="#") Châu Á hấp dẫn thủy sản Việt Nam
					.item
						figure
							.img
								a(href="#")
									img(src="./img/1.jpg", alt="")
							figcaption
								time 15/05/2019 15:05:19 PM
								h4
									a(href="#") Châu Á hấp dẫn thủy sản Việt Nam