.breadcrumb-wrapper
    .container
        ol.breadcrumb
            li
                a.itemcrumb(href="javascript:void(0)")
                    span Trang chủ
            li(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
                a.itemcrumb(href="javascript:void(0)")
                    span Về Trường thịnh
            li(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
                a.itemcrumb.active(href="javascript:void(0)")
                    span Giới thiệu