.tuyendung-ct
    .row
        .col-lg-9
            h1 Kế toán viên
            h2 Thông tin tuyển dụng
            .brief-content
                .row
                    .col-lg-6
                        table.truongthinh-table-v2
                            tr
                                td Vị trí tuyển dụng:
                                td Kế toán viên, kế toán tổng hợp
                            tr
                                td Chức vụ:
                                td Nhân viên
                            tr
                                td Yêu cầu giới tính:
                                td Nữ
                            tr
                                td Địa điểm làm việc:
                                td Tp Hồ Chí Minh, Vũng Tàu
                            tr
                                td Yêu cầu độ tuổi:
                                td 25-35
                    .col-lg-6
                        table.truongthinh-table-v2
                            tr
                                td Mức lương:
                                td Thương lượng
                            tr
                                td Bằng cấp tối thiểu:
                                td Tốt nghiệp trung cấp, cao đẳng, đại học chuyên ngành kế toán.
                            tr
                                td Số lượng cần tuyển:
                                td 2 người
                            tr
                                td Kinh nghiệm tối thiểu:
                                td 1 năm

            .full-content
                h2 Mô tả công việc
                ul 
                    li 
                        p Tăng lương định kỳ, đóng bảo hiểm hàng tháng theo quy định;
                    li 
                        p Môi trường làm việc năng động trẻ trung, đảm bảo ổn định lâu dài.
                    li 
                        p Cơ hội thăng tiến nhanh 
                br
                h2 Mô tả công việc
                ul 
                    li 
                        p Tăng lương định kỳ, đóng bảo hiểm hàng tháng theo quy định;
                    li 
                        p Môi trường làm việc năng động trẻ trung, đảm bảo ổn định lâu dài.
                    li 
                        p Cơ hội thăng tiến nhanh
                br
                h2
                    |Hạn nộp hồ sơ: 
                    span 26/10/2019
                br
                p Ứng viên xin vui lòng nộp đơn trực tiếp tại văn phòng công ty Đ/c: 14 Dương Đình Hội, P. Phước Long B, Quận 9, TP. HCM hoặc qua email: Info@truongthinhcorp.com.vn
                .buttons
                    a.btn-register(href="javascript:void(0)" data-fancybox data-src="#ungtuyen") Ứng tuyển
                    .or-text Hoặc
                    a.btn-form(href="javascript:void(0)") Tải mẫu thông tin ứng viên
                    a.btn-send(href="javascript:void(0)" data-fancybox data-src="#guicauhoi") Gửi câu hỏi
                .tools
                    div(href="javascript:void(0)").btn-share
                        em.mdi.mdi-share-variant
                        .share-wrapper
                            a(href="#")
                                em.mdi.mdi-facebook
                            a(href="#")
                                em.mdi.mdi-twitter
                    a(href="javascript:void(0)").btn-print
                        em.mdi.mdi-printer
                    a(href="javascript:void(0)").btn-download
                        em.mdi.mdi-cloud-download                                
        .col-lg-3
            .other-news-title Tuyển dụng khác
            .other-news
                .item
                    .time 06/09/2019 15:05:19 PM
                    a(href="javascript:void(0)").title Kỹ sư thiết kế xây dựng - Kết cấu thép
                .item
                    .time 06/09/2019 15:05:19 PM
                    a(href="javascript:void(0)").title Kỹ sư thiết kế xây dựng - Kết cấu thép
                .item
                    .time 06/09/2019 15:05:19 PM
                    a(href="javascript:void(0)").title Kỹ sư thiết kế xây dựng - Kết cấu thép
                .item
                    .time 06/09/2019 15:05:19 PM
                    a(href="javascript:void(0)").title Kỹ sư thiết kế xây dựng - Kết cấu thép
                .item
                    .time 06/09/2019 15:05:19 PM
                    a(href="javascript:void(0)").title Kỹ sư thiết kế xây dựng - Kết cấu thép
                .item
                    .time 06/09/2019 15:05:19 PM
                    a(href="javascript:void(0)").title Kỹ sư thiết kế xây dựng - Kết cấu thép
.popup.d-none
    #ungtuyen
        .popup-body
            iframe(src="apply.html", frameborder="0")
    #guicauhoi
        .popup-body
            .form-wizard.Module
                .ModuleContent
                    h2.module-title Gửi câu hỏi
                    #ctl00_mainContent_ctl01_pnlFormWizard
                        #ctl00_mainContent_ctl01_pnlForm.wrap-form(onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ctl00_mainContent_ctl01_btnSubmit')")
                            #ctl00_mainContent_ctl01_pnlQuestions
                                .form-group.qtext.require.col-12
                                    label#ctl00_mainContent_ctl01_ctl27a296150f5a4cc4929454c7947abd7b_lbl27a296150f5a4cc4929454c7947abd7b.label(for='ctl00_mainContent_ctl01_ctl27a296150f5a4cc4929454c7947abd7b_txt27a296150f5a4cc4929454c7947abd7b') Họ tên
                                    input#ctl00_mainContent_ctl01_ctl27a296150f5a4cc4929454c7947abd7b_txt27a296150f5a4cc4929454c7947abd7b(name='ctl00$mainContent$ctl01$ctl27a296150f5a4cc4929454c7947abd7b$txt27a296150f5a4cc4929454c7947abd7b', type='text')
                                    span#ctl00_mainContent_ctl01_ctl27a296150f5a4cc4929454c7947abd7b_val27a296150f5a4cc4929454c7947abd7b.fa.fa-exclamation-triangle(style='display:none;') Name is required.
                                .form-group.qtext.require.col-12
                                    label#ctl00_mainContent_ctl01_ctl27a296150f5a4cc4929454c7947abd7b_lbl27a296150f5a4cc4929454c7947abd7b.label(for='ctl00_mainContent_ctl01_ctl27a296150f5a4cc4929454c7947abd7b_txt27a296150f5a4cc4929454c7947abd7b') Số điện thoại
                                    input#ctl00_mainContent_ctl01_ctl27a296150f5a4cc4929454c7947abd7b_txt27a296150f5a4cc4929454c7947abd7b(name='ctl00$mainContent$ctl01$ctl27a296150f5a4cc4929454c7947abd7b$txt27a296150f5a4cc4929454c7947abd7b', type='text')
                                    span#ctl00_mainContent_ctl01_ctl27a296150f5a4cc4929454c7947abd7b_val27a296150f5a4cc4929454c7947abd7b.fa.fa-exclamation-triangle(style='display:none;') Name is required.
                                .form-group.qtext.require.col-12
                                    label#ctl00_mainContent_ctl01_ctl13496588c14e4016be2fc61954223508_lbl13496588c14e4016be2fc61954223508.label(for='ctl00_mainContent_ctl01_ctl13496588c14e4016be2fc61954223508_txt13496588c14e4016be2fc61954223508') Email
                                    input#ctl00_mainContent_ctl01_ctl13496588c14e4016be2fc61954223508_txt13496588c14e4016be2fc61954223508(name='ctl00$mainContent$ctl01$ctl13496588c14e4016be2fc61954223508$txt13496588c14e4016be2fc61954223508', type='text')
                                    span#ctl00_mainContent_ctl01_ctl13496588c14e4016be2fc61954223508_val13496588c14e4016be2fc61954223508.fa.fa-exclamation-triangle(style='display:none;') Email is required.
                                .form-group.qparagraph.require.col-12
                                    label#ctl00_mainContent_ctl01_ctl0907a8f0982544f380721964f3f6e732_lbl0907a8f0982544f380721964f3f6e732.label(for='ctl00_mainContent_ctl01_ctl0907a8f0982544f380721964f3f6e732_txt0907a8f0982544f380721964f3f6e732') Nội dung
                                    textarea#ctl00_mainContent_ctl01_ctl0907a8f0982544f380721964f3f6e732_txt0907a8f0982544f380721964f3f6e732(name='ctl00$mainContent$ctl01$ctl0907a8f0982544f380721964f3f6e732$txt0907a8f0982544f380721964f3f6e732', rows='2', cols='20')
                                    span#ctl00_mainContent_ctl01_ctl0907a8f0982544f380721964f3f6e732_val0907a8f0982544f380721964f3f6e732.fa.fa-exclamation-triangle(style='display:none;') Leave a message is required.
                            #ctl00_mainContent_ctl03_divCaptcha.form-group.frm-captcha
                                .frm-captcha-input
                                    label.label
                                        | Nhập mã hiển thị
                                    input#ctl00_mainContent_ctl03_txtCaptcha(name='ctl00$mainContent$ctl03$txtCaptcha', type='text', maxlength='5', placeholder='Nhập mã hiển thị')
                                #ctl00_mainContent_ctl03_captcha.RadCaptcha.RadCaptcha_Default(style='width:50%;')
                                    // 2017.3.913.40
                                    span#ctl00_mainContent_ctl03_captcha_ctl00(style='visibility:hidden;') Mã không đúng.
                                    #ctl00_mainContent_ctl03_captcha_SpamProtectorPanel
                                        #ctl00_mainContent_ctl03_captcha_ctl01
                                            img#ctl00_mainContent_ctl03_captcha_CaptchaImageUP(alt='', src='./img/_global/captcha.png', style='height:50px;width:180px;display:block;')
                                            a#ctl00_mainContent_ctl03_captcha_CaptchaLinkButton.rcRefreshImage(title='Hình ảnh mới', href="javascript:__doPostBack('ctl00$mainContent$ctl03$captcha$CaptchaLinkButton','')", style='display:block;') Hình ảnh mới
                                    input#ctl00_mainContent_ctl03_captcha_ClientState(name='ctl00_mainContent_ctl03_captcha_ClientState', type='hidden', autocomplete='off')
                            #ctl00_mainContent_ctl01_up1(style='display:none;', role='status', aria-hidden='true')
                                img(src='/Data/SiteImages/indicators/indicator1.gif', alt=' ')
                            .form-group.frm-btnwrap
                                label.label  
                                .frm-btn
                                    input#ctl00_mainContent_ctl01_btnSubmit.btn.btn-default.frm-btn-submit(type='submit', name='ctl00$mainContent$ctl01$btnSubmit', value='Send', onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$mainContent$ctl01$btnSubmit", "", true, "formwizard47dbc204-7396-4d98-8e6b-2f8e47c6b559", "", false, false))')
                                    input#ctl00_mainContent_ctl01_btnReset.btn.btn-default.frm-btn-reset(name='ctl00$mainContent$ctl01$btnReset', type='reset', value='Reset')
                                    input#ctl00_mainContent_ctl01_hdnResponseSetGuid(type='hidden', name='ctl00$mainContent$ctl01$hdnResponseSetGuid')
                            .clear
