.tuyendung
	.tagline
		h1 Tuyển dụng
		.separator
	.content
		.responsive-table
			table.truongthinh-table-v1
				thead
					tr
						th Vị trí tuyển dụng
						th Phòng ban
						th Khu vực
						th Ngày bắt đầu
						th Ngày kết thúc
						th
				tbody
					tr
						td.text 
							a(href="#") Kỹ sư thiết kế xây dựng - Kết cấu thép
							span.hot Hot
						td.text Phòng thiết kế xây dựng
						td.text Tp. Hồ Chí Minh
						td.text 06/09/2019
						td.text 26/10/2019
						td.link
							a(href="/tuyendung-ct.html") Nộp đơn
					tr
						td.text 
							|Nhân viên kinh doanh
							span.hot Hot
						td.text Phòng thiết kế xây dựng
						td.text Tp. Hồ Chí Minh
						td.text 06/09/2019
						td.text 26/10/2019
						td.link
							a(href="/tuyendung-ct.html") Nộp đơn
					tr
						td.text 
							|Nhân viên marketing
							span.hot Hot
						td.text Phòng thiết kế xây dựng
						td.text Tp. Hồ Chí Minh
						td.text 06/09/2019
						td.text 26/10/2019
						td.link
							a(href="/tuyendung-ct.html") Nộp đơn
					tr
						td.text 
							|Kỹ sư trắc đạc công trình 
							span.hot Hot
						td.text Phòng thiết kế xây dựng
						td.text Tp. Hồ Chí Minh
						td.text 06/09/2019
						td.text 26/10/2019
						td.link
							a(href="/tuyendung-ct.html") Nộp đơn
					tr
						td.text 
							|Kỹ sư xây dựng đi công trình
							span.hot Hot
						td.text Phòng thiết kế xây dựng
						td.text Tp. Hồ Chí Minh
						td.text 06/09/2019
						td.text 26/10/2019
						td.link
							a(href="/tuyendung-ct.html") Nộp đơn
					tr
						td.text 
							|Kế toán viên
							span.hot Hot
						td.text Phòng thiết kế xây dựng
						td.text Tp. Hồ Chí Minh
						td.text 06/09/2019
						td.text 26/10/2019
						td.link
							a(href="/tuyendung-ct.html") Nộp đơn
					tr
						td.text 
							|Kỹ sư xây dựng
							span.hot Hot
						td.text Phòng thiết kế xây dựng
						td.text Tp. Hồ Chí Minh
						td.text 06/09/2019
						td.text 26/10/2019
						td.link
							a(href="/tuyendung-ct.html") Nộp đơn
					tr
						td.text 
							|Giám đốc kinh doanh
							span.hot Hot
						td.text Phòng thiết kế xây dựng
						td.text Tp. Hồ Chí Minh
						td.text 06/09/2019
						td.text 26/10/2019
						td.link
							a(href="/tuyendung-ct.html") Nộp đơn
					tr
						td.text 
							|Trưởng phòng kinh doanh
							span.hot Hot
						td.text Phòng thiết kế xây dựng
						td.text Tp. Hồ Chí Minh
						td.text 06/09/2019
						td.text 26/10/2019
						td.link
							a(href="/tuyendung-ct.html") Nộp đơn
					tr
						td.text 
							|Kỹ sư thiết kế xây dựng - Kết cấu thép
							span.hot Hot
						td.text Phòng thiết kế xây dựng
						td.text Tp. Hồ Chí Minh
						td.text 06/09/2019
						td.text 26/10/2019
						td.link
							a(href="/tuyendung-ct.html") Nộp đơn

	.truongthinh-table-v1-mobile.row
		.col-md-6
			.item
				h2 
					span.title Kỹ sư thiết kế xây dựng - Kết cấu thép
					span.hot HOT
				p
					em.mdi.mdi-account-group
					span Phòng thiết kế xây dựng
				p
					em.mdi.mdi-map-marker
					span TP.Hồ Chí Minh
				p
					em.mdi.mdi-clock-start
					span Ngày bắt đầu: 06/09/2019
				p
					em.mdi.mdi-clock-end
					span Ngày kết thúc: 26/10/2019
				.btn-apply Nộp đơn
				.btn-view Nộp đơn
		.col-md-6
			a(href="#").item
				h2 
					span.title Kỹ sư thiết kế xây dựng - Kết cấu thép
					span.hot HOT
				p
					em.mdi.mdi-account-group
					span Phòng thiết kế xây dựng
				p
					em.mdi.mdi-map-marker
					span TP.Hồ Chí Minh
				p
					em.mdi.mdi-clock-start
					span Ngày bắt đầu: 06/09/2019
				p
					em.mdi.mdi-clock-end
					span Ngày kết thúc: 26/10/2019
				.btn-apply Nộp đơn
		.col-md-6
			a(href="#").item
				h2 
					span.title Kỹ sư thiết kế xây dựng - Kết cấu thép
					span.hot HOT
				p
					em.mdi.mdi-account-group
					span Phòng thiết kế xây dựng
				p
					em.mdi.mdi-map-marker
					span TP.Hồ Chí Minh
				p
					em.mdi.mdi-clock-start
					span Ngày bắt đầu: 06/09/2019
				p
					em.mdi.mdi-clock-end
					span Ngày kết thúc: 26/10/2019
				.btn-apply Nộp đơn
		.col-md-6
			a(href="#").item
				h2 
					span.title Kỹ sư thiết kế xây dựng - Kết cấu thép
					span.hot HOT
				p
					em.mdi.mdi-account-group
					span Phòng thiết kế xây dựng
				p
					em.mdi.mdi-map-marker
					span TP.Hồ Chí Minh
				p
					em.mdi.mdi-clock-start
					span Ngày bắt đầu: 06/09/2019
				p
					em.mdi.mdi-clock-end
					span Ngày kết thúc: 26/10/2019
				.btn-apply Nộp đơn
		.col-md-6
			a(href="#").item
				h2 
					span.title Kỹ sư thiết kế xây dựng - Kết cấu thép
					span.hot HOT
				p
					em.mdi.mdi-account-group
					span Phòng thiết kế xây dựng
				p
					em.mdi.mdi-map-marker
					span TP.Hồ Chí Minh
				p
					em.mdi.mdi-clock-start
					span Ngày bắt đầu: 06/09/2019
				p
					em.mdi.mdi-clock-end
					span Ngày kết thúc: 26/10/2019
				.btn-apply Nộp đơn