.banner-trangchu
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a(href='javascript:void(0)')
					.img(bg-img='./img/banner/banner_1.jpg' bg-img-mobile='./img/banner/m_banner_1.jpg')
					.content
						.container
							.text
								h2
									span Trường thịnh - 
									br
									|Đối tác đáng tin cậy với chất lượng sản phẩm vượt trội
							.btn-viewmore-banner Xem thêm
			.swiper-slide
				a(href='javascript:void(0)')
					.img(bg-img='./img/banner/banner_2.jpg' bg-img-mobile='./img/banner/m_banner_2.jpg')
					.content
						.container
							.text.text-lg-white
								h2 Cơ khí xây dựng - Kiến tạo những công trình bền vững với thời gian
							.btn-viewmore-banner.btn-viewmore-banner-white Xem thêm
			.swiper-slide
				a(href='javascript:void(0)')
					.img(bg-img='./img/banner/banner_3.jpg' bg-img-mobile='./img/banner/m_banner_3.jpg')
					.content
						.container
							.text.text-lg-white
								h2 Giải pháp cung cấp năng lượng hiệu quả cho một quốc gia
							.btn-viewmore-banner.btn-viewmore-banner-white Xem thêm
			.swiper-slide
				a(href='javascript:void(0)')
					.img(bg-img='./img/banner/banner_4.jpg' bg-img-mobile='./img/banner/m_banner_4.jpg')
					.content
						.container
							.text
								h2 Sản phẩm phụ gia thực phẩm thủy sản xuất - nhập khẩu
							.btn-viewmore-banner Xem thêm
			.swiper-slide
				a(href='javascript:void(0)')
					.img(bg-img='./img/banner/banner_5.jpg' bg-img-mobile='./img/banner/m_banner_5.jpg')
					.content
						.container
							.text
								h2 Cung cấp các sản phẩm gia vị lẩu nhập khẩu từ Thái Lan
							.btn-viewmore-banner Xem thêm
			.swiper-slide
				a(href='javascript:void(0)')
					.img(bg-img='./img/banner/banner_6.jpg' bg-img-mobile='./img/banner/m_banner_6.jpg')
					.content
						.container
							.text
								h2 Cơ khí xây dựng - Kiến tạo những công trình bền vững với thời gian
							.btn-viewmore-banner Xem thêm
		//- .swiper-button-prev
		//- 	i.lnr.lnr-arrow-left
		//- .swiper-button-next
		//- 	i.lnr.lnr-arrow-right
		.swiper-pagination
