header.canhcam-header-1
	.desktop-header
		.container.desktop-header-container
			.logo
				img(src='./img/_global/logo.png', alt='')
				.content
					.text-1 Trường thịnh
					.text-2 Uy tín - Chất lượng - Hiệu quả
					.text-3 Cơ khí và Xây dựng - Phụ gia thực phẩm - Sản phẩm từ gỗ 
			.hamburger.mobile-header-toggle
				i.mdi.mdi-menu
			.custom-nav
				.tool-nav
					a.phone(href='tel:02837281693')
						i.mdi.mdi-phone
						span (+84) 28 3728 1693
					.divider
					.Module-142
						a.mail(href='mailto:info@truongthinhcorp.com.vn')
							i.mdi.mdi-email
							span info@truongthinhcorp.com.vn
					.search
						.search-toggle
							i.mdi.mdi-magnify
							i.mdi.mdi-close
						.searchbox
							input.searchinput(type='text', placeholder='Tìm kiếm')
							button.searchbutton
								i.mdi.mdi-magnify
					.language
						a(href='javascript:void(0)')
							img(src='./img/_global/vn_flag.png', alt='')
							span Tiếng Việt
						a(href='javascript:void(0)')
							img(src='./img/_global/en_flag.png', alt='')
							span English
				.zone-nav
					a.active(href='/', target='_self', title='Trang chủ') Trang chủ
					a.has-sub-1(href='/gioi-thieu-chung', target='_self', title='Giới thiệu')
						div.parent-link-1 
							span Giới thiệu
							em.mdi.mdi-chevron-right
						.sub-menu-1
							.previous-link-1 
								em.mdi.mdi-chevron-left
								span Giới thiệu
							div(data-href='/gioithieuchung.html', title='Giới thiệu chung') Giới thiệu chung
							div(data-href='/tam-nhin-su-menh', title='Tầm nhìn - Sứ mệnh') Tầm nhìn - Sứ mệnh
							div(data-href='/hinh-anh-nha-may', title='Hình ảnh nhà máy') Hình ảnh nhà máy
							div(data-href='/chung-nhan-chat-luong', title='Chứng nhận chất lượng') Chứng nhận chất lượng
					a.has-sub-1(href='/linhvuc.html', target='_self', title='Lĩnh vực hoạt động')
						div.parent-link-1 
							span Lĩnh vực hoạt động
							em.mdi.mdi-chevron-right
						.sub-menu-1
							.previous-link-1 
								em.mdi.mdi-chevron-left
								span Lĩnh vực hoạt động
							.has-sub-2
								div.parent-link-2
									div(data-href='/linhvuc-ct.html', title='Sản phẩm từ gỗ') Sản phẩm từ gỗ
									em.mdi.mdi-chevron-right
								.sub-menu-2
									.previous-link-2
										em.mdi.mdi-chevron-left
										span Previous link
									div(data-href='/sanpham.html', title='Sản phẩm nổi bật') Sản phẩm nổi bật
									div(data-href='/sanpham.html', title='Gỗ viên nén') Gỗ viên nén
									div(data-href='/sanpham.html', title='Gỗ thanh') Gỗ thanh
									div(data-href='/sanpham.html', title='Mùn cưa ép khối') Mùn cưa ép khối
							.has-sub-2
								div.parent-link-2
									div(data-href='/linhvuc-ct.html', title='Cơ khí xây dựng') Cơ khí xây dựng
									em.mdi.mdi-chevron-right
								.sub-menu-2
									.previous-link-2
										em.mdi.mdi-chevron-left
										span Previous link
									div(data-href='/sanpham.html', title='Sản phẩm nổi bật') Sản phẩm nổi bật
									div(data-href='/gia-cong-thep-theo-yeu-cau', title='Gia công thép theo yêu cầu') Gia công thép theo yêu cầu
									div(data-href='/cnc-nghe-thuat', title='CNC nghệ thuật') CNC nghệ thuật
									div(data-href='/che-tao-khuon-ep-nhua', title='Chế tạo khuôn ép nhựa') Chế tạo khuôn ép nhựa
									div(data-href='/khuong-ep-moc-chu-j', title='Khuông ép móc chữ J') Khuông ép móc chữ J
									div(data-href='/he-thong-tu-dong-xu-ly', title='Hệ thống tự động xử lý') Hệ thống tự động xử lý
									div(data-href='/san-pham-dap-vo-dac-trung', title='Sản phẩm dập vỏ đặc trưng') Sản phẩm dập vỏ đặc trưng
							.has-sub-2
								div.parent-link-2
									div(data-href='/phu-gia-thuc-pham', title='Phụ gia thực phẩm') Phụ gia thực phẩm
									em.mdi.mdi-chevron-right
								.sub-menu-2
									.previous-link-2
										em.mdi.mdi-chevron-left
										span Previous link
									div(data-href='/nhap-khau', title='Nhập khẩu') Nhập khẩu
									div(data-href='/hang-may-mac', title='Hàng may mặc') Hàng may mặc
									div(data-href='/hoa-chat-va-phu-gia-thuc-pham', title='Hóa chất và phụ gia thực phẩm') Hóa chất và phụ gia thực phẩm
									div(data-href='/banh-keo-va-trai-cay-say-kho', title='Bánh kẹo và trái cây sấy khô') Bánh kẹo và trái cây sấy khô
									div(data-href='/xuat-khau', title='Xuất khẩu') Xuất khẩu
							.has-sub-2
								div.parent-link-2
									div(data-href='/gia-vi', title='Gia vị') Gia vị
									em.mdi.mdi-chevron-right
								.sub-menu-2
									.previous-link-2
										em.mdi.mdi-chevron-left
										span Previous link
									div(data-href='/hoa-chat-va-phu-gia-thuc-pham-1', title='Hóa chất và phụ gia thực phẩm') Hóa chất và phụ gia thực phẩm
									div(data-href='/banh-keo-va-trai-cay-say-kho-1', title='Bánh kẹo và trái cây sấy khô') Bánh kẹo và trái cây sấy khô
							.has-sub-2
								div.parent-link-2
									div(data-href='/dich-vu-lap-dat-sua-chua', title='Dịch vụ lắp đặt sửa chữa') Dịch vụ lắp đặt sửa chữa
									em.mdi.mdi-chevron-right
								.sub-menu-2
									.previous-link-2
										em.mdi.mdi-chevron-left
										span Previous link
									div(data-href='/nha-xuong-nha-thep-tien-che', title='Nhà xưởng, nhà thép tiền chế') Nhà xưởng, nhà thép tiền chế
									div(data-href='/co-khi-cong-nghiep-nha-thep', title='Cơ khí công nghiệp nhà thép') Cơ khí công nghiệp nhà thép
					a.has-sub-1(href='/duan.html', target='_self', title='Dự án')
						div.parent-link-1 
							span Dự án
							em.mdi.mdi-chevron-right
						.sub-menu-1
							.previous-link-1 
								em.mdi.mdi-chevron-left
								span Dự án
							.has-sub-2
								div.parent-link-2
									div(data-href='/da-hoan-thanh', title='Đã hoàn thành') Đã hoàn thành
									em.mdi.mdi-chevron-right
								.sub-menu-2
									.previous-link-2
										em.mdi.mdi-chevron-left
										span Previous link
									div(data-href='/duan-ct.html', title='Công trình DD & CN') Công trình DD & CN
									div(data-href='#', title='Thủy điện - Thủy lợi') Thủy điện - Thủy lợi
									div(data-href='#', title='Hạ tầng - Giao thông') Hạ tầng - Giao thông
							div(data-href='#', title='Đang thực hiện') Đang thực hiện
							div(data-href='#', title='Sắp triển khai') Sắp triển khai
					a.has-sub-1(href='/tai-lieu-quy-dinh', target='_self', title='Hỗ trợ khách hàng')
						div.parent-link-1 
							span Hỗ trợ khách hàng
							em.mdi.mdi-chevron-right
						.sub-menu-1
							.previous-link-1 
								em.mdi.mdi-chevron-left
								span Hỗ trợ khách hàng
							.has-sub-2
								div.parent-link-2
									div(data-href='/tailieu.html', title='Tài liệu quy định') Tài liệu quy định
									em.mdi.mdi-chevron-right
								.sub-menu-2
									.previous-link-2
										em.mdi.mdi-chevron-left
										span Previous link
									div(data-href='/xay-dung-co-khi-1', title='Xây dựng cơ khí') Xây dựng cơ khí
									div(data-href='/phu-gia-thuc-pham-hoa-chat-1', title='Phụ gia thực phẩm & Hóa chất') Phụ gia thực phẩm & Hóa chất
									div(data-href='/tai-lieu-tham-khao', title='Tài liệu tham khảo') Tài liệu tham khảo
							.has-sub-2
								div.parent-link-2
									div(data-href='/xay-dung-co-khi', title='Hỏi đáp') Hỏi đáp
									em.mdi.mdi-chevron-right
								.sub-menu-2
									.previous-link-2
										em.mdi.mdi-chevron-left
										span Previous link
									div(data-href='/xay-dung-co-khi', title='Xây dựng cơ khí') Xây dựng cơ khí
									div(data-href='/phu-gia-thuc-pham-hoa-chat', title='Phụ gia thực phẩm & Hóa chất') Phụ gia thực phẩm & Hóa chất
									div(data-href='/san-pham-tu-go-1', title='Sản phẩm từ gỗ') Sản phẩm từ gỗ
									div(data-href='/khac', title='Khác') Khác
					a(href='/tuyen-dung', target='_self', title='Tuyển dụng') Tuyển dụng
					a.has-sub-1(href='/tintuc.html', target='_self', title='Tin tức')
						div.parent-link-1 
							span Tin tức
							em.mdi.mdi-chevron-right
						.sub-menu-1
							.previous-link-1 
								em.mdi.mdi-chevron-left
								span Tin tức
							div(data-href='/tin-doanh-nghiep', title='Tin doanh nghiệp') Tin doanh nghiệp
							div(data-href='/tin-thi-truong', title='Tin thị trường') Tin thị trường
							.has-sub-2
								div.parent-link-2
									div(data-href='/xay-dung-co-khi', title='Hỏi đáp') Hỏi đáp
									em.mdi.mdi-chevron-right
								.sub-menu-2
									.previous-link-2
										em.mdi.mdi-chevron-left
										span Previous link
									div(data-href='/xay-dung-co-khi', title='Xây dựng cơ khí') Xây dựng cơ khí
									div(data-href='/phu-gia-thuc-pham-hoa-chat', title='Phụ gia thực phẩm & Hóa chất') Phụ gia thực phẩm & Hóa chất
									div(data-href='/san-pham-tu-go-1', title='Sản phẩm từ gỗ') Sản phẩm từ gỗ
									div(data-href='/khac', title='Khác') Khác
					a(href='/lien-he', target='_self', title='Liên hệ') Liên hệ

	.mobile-header
	.backdrop
