html.t-chrome.t-chrome73(xmlns='http://www.w3.org/1999/xhtml')
	head#ctl00_Head1
		title
			| Ma trận giấy phép con và nền kinh tế sáng tạo (kỳ 1) - Trường Thịnh
		link(rel='stylesheet', type='text/css', href='/App_Themes/toolbar.css')
		link(rel='stylesheet', type='text/css', href='/ClientScript/fancybox/jquery.fancybox.css')
		link(rel='stylesheet', type='text/css', href='./css/core.min.css')
		link(rel='stylesheet', type='text/css', href='./css/main.min.css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js', type='text/javascript')
		link(href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:300,400,500,600,700&amp;amp;subset=vietnamese" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Oswald:500,700&amp;subset=vietnamese" rel="stylesheet")
		link.Telerik_stylesheet(href='/WebResource.axd?d=lVSDHqxDazTqkmh757J3jbUUnLj-lk__wvINoDmX6gZXMTCo4wpwS0Dc7ZKoeYCPG5sGFQ--aJOkhvKUyOZ4qMFIYUtIqzJjs8VUQvbfja9A6i-UqZA18pcwJqRLztZy9DBBGg2&t=636408409000000000', type='text/css', rel='stylesheet')
		link.Telerik_stylesheet(href='/WebResource.axd?d=h01LdWuOU1QZP-mvdg2RBdwzYg2d8jrZFUbgWHNea-5yPIIt6A87iEcWkR8BA0i1qcDb_-5DhGRPXQxyE0GnHc4BqaCRtRdvIrT_hK99ZrufAap2n4UKdudcgg_R5X4jL9aNppQsSBAF7UFxe1CXJSi4dbuuWvE2HmNTKU8Vd4E8jB6X0&t=636408409000000000', type='text/css', rel='stylesheet')
	body.dialogpage(style='')
		form#aspnetForm(method='post', action='./JobApplyDialog.aspx?zoneid=86&NewsID=47', onsubmit='javascript:return WebForm_OnSubmit();')
			.aspNetHidden
				input#__EVENTTARGET(type='hidden', name='__EVENTTARGET', value='')
				input#__EVENTARGUMENT(type='hidden', name='__EVENTARGUMENT', value='')
				input#__VIEWSTATEFIELDCOUNT(type='hidden', name='__VIEWSTATEFIELDCOUNT', value='2')
				input#__VIEWSTATE(type='hidden', name='__VIEWSTATE', value='/wEPDwUJNTYxOTE4MzY1D2QWAmYPZBYCAgMPZBYCAgMPZBYCAgEPZBYCAgEPZBYCZg9kFgICAQ9kFgwCMQ9kFgICAQ8PFgIeB1Zpc2libGVoZGQCPQ8WAh4EVGV4dAUacmFyLHppcCxkb2MsZG9jeCxwZGYsIDwxTUJkAj8PDxYMHhxFbmFibGVFbWJlZGRlZEJhc2VTdHlsZXNoZWV0Zx4VRW5hYmxlRW1iZWRkZWRTY3JpcHRzZx4LTWF4RmlsZVNpemUCgIBAHhVBbGxvd2VkRmlsZUV4dGVuc2lvbnMVBQNyYXIDemlwA2RvYwRkb2N4A3BkZh4XRW5hYmxlQWpheFNraW5SZW5kZXJpbmdoHhJSZXNvbHZlZFJlbmRlck1vZGULKXJUZWxlcmlrLldlYi5VSS5SZW5kZXJNb2RlLCBUZWxlcmlrLldlYi5VSSwgVmVyc2lvbj0yMDE3LjMuOTEzLjQwLCBDdWx0dXJlPW5ldXRy')
				input#__VIEWSTATE1(type='hidden', name='__VIEWSTATE1', value='YWwsIFB1YmxpY0tleVRva2VuPTEyMWZhZTc4MTY1YmEzZDQBZGQCQw8WAh8BBRpyYXIsemlwLGRvYyxkb2N4LHBkZiwgPDFNQmQCRQ8PFgwfAmcfA2cfBAKAgEAfBRUFA3JhcgN6aXADZG9jBGRvY3gDcGRmHwZoHwcLKwQBZGQCRw8PFgIfAQUFR+G7rWlkZBgBBR5fX0NvbnRyb2xzUmVxdWlyZVBvc3RCYWNrS2V5X18WAgUkY3RsMDAkcGhNYWluJGpvYkFwcGx5JHVwbEF0dGFjaEZpbGUxBSRjdGwwMCRwaE1haW4kam9iQXBwbHkkdXBsQXR0YWNoRmlsZTJQFm1QhcPcJQ2NPF0gFUSjrYUdvA==')
			script(type='text/javascript').
				//<![CDATA[
				var theForm = document.forms['aspnetForm'];
				if (!theForm) {
				theForm = document.aspnetForm;
				}
				function __doPostBack(eventTarget, eventArgument) {
				if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
				theForm.__EVENTTARGET.value = eventTarget;
				theForm.__EVENTARGUMENT.value = eventArgument;
				theForm.submit();
				}
				}
				//]]>
			script(src='/WebResource.axd?d=yryfc5JLEPgTt0n0r1jdu_V7YLGyn8B7fNd8jhy_JD9mq6BEnXyhoUfc-OJ4FBusnFJTLBUQ86Pe4BvTW5Ow7VeMkvg1&t=636686906738678653', type='text/javascript')
			script(src='/ScriptResource.axd?d=SbLCKcx7Oh64PabO70Gq9hxAH9v_0Wm9xgFdEhRfCXsGhkQIRTGat4zh8_0OfQ9PqFNlUNaycBaA4E4-GkjFDeXW2EJ-f2nXjQDdkFEjqSZjGZoBcBK9Lxx2BJFTkf1hief3_Vt_HDR4cybox4aKlcv-ZVE1&t=ffffffffab5b37cd', type='text/javascript')
			script(src='/ScriptResource.axd?d=ddyXXreNtzB-pImiV3G4uL8RNvpyLhhAq-btLW3O9OD2_AJcu1WZGmjAfJ7iE0oNAAQl8GeZ6_F8xnQNyh_ZTQwVdfzC4KsluhA-0fEbDXYepFGZG-wcj30WF3LmEXGc_AWgf0TgZPhn2IArRyCLT1OSgQ-COgtZ8I6FCLaqDF9m2qLBbBaMoU4xd4j6_grCH90lrUDN5x0HtIJGyBxq4LX8_aLo5jxCSVaaWe9sPD4ZlU4tubEiEs-kka4f4jUx3eOyk3tasNt2JXHu7Kfpaa7dM-41', type='text/javascript')
			script(src='/ScriptResource.axd?d=rNuj_tHizwT81acux3VsHBVB1zRrX8A5tar_r336sRi5-F89Gw9ssXyaqs5lckX7BLhhoxpTE7dInfHCX-4ZDb_ODV2Nxwfho5g1s7r7HmN_jpFlna2o-QhmUVLHZriDjhHnHQ2&t=ffffffff9b067c76', type='text/javascript')
			script(src='/ScriptResource.axd?d=ZjFKAO7J5pWr_rw4jmM0LpAdMshN9Ux4ryFdBnRLdwVsJArhaEz-OlgePU6qkC1z5iCw7Z54askIM97WEdOpq3BnQhDVz5zSHbHuEjAKyeE2CcZCvAwNGuuaKkV_l20M95eMiaYo8oLVM3Z5CVeFEs8PBxfG2TA7HtydxRQ13Qbg0UPe0&t=ffffffff9b067c76', type='text/javascript')
			script(src='/ScriptResource.axd?d=KjxjtYSd9esu15D005tTPEvG1CT1lyAxMBvHjbs9reP6j9bRIwo8utYQiVywrrV0S09JA-jSKs5INgxLQywISBTQIzR6gO-Z65aoyzd5eoc5leLG2jfYKXLFfzXStJxbRTWAdBhjiFz0MNt95r-7B_GmZmo1&t=ffffffff9b067c76', type='text/javascript')
			script(src='/ScriptResource.axd?d=PXfXKYRupbJGVjmeBGmxjPm-qkCXpqfLtUHAicy5HWvV3m-a5Q9H8Oo5xj2x8voo0wM8AbRZHJ_UamqnwCw2v-hckaG_Jv31o2S_dPgjWRtDnZhL_a58aLdZwFHZOprQWvyCC537C--nS7qkKpLfDLDkY7Y1&t=ffffffff9b067c76', type='text/javascript')
			script(src='/ScriptResource.axd?d=4TCRu0t9kZ7KJlgbziDuQv79hELaYajVkpADx4UjovGD5pTXpXE2s1_zXvbmcQxYkDoKHtPcx8QhiS_CyRbnTs-mdjXmsnBpIjglI4KTmGhP6JKWVQCCsf_WVfJ6IkNWabAn3mHCd4aXRkhCeYknKMtfIpZ-WUdsaHgHZDLzd-gJWyui0&t=ffffffff9b067c76', type='text/javascript')
			script(src='/ScriptResource.axd?d=xUlySku_RTbxkOYc9hhpE5H-K1oobEONimVGF3lA_zzBUK1vaPorLOjSaLhMyVgg8V9F_TdBzjPylpeqCOUSDwyk8eoX34RPlvY0C_JDUQf7rd7znyF1iITs57sV74IaNMsuIwPCkaUOwDksapNMWEma9-w_psvdDZjz_htWF7pdINbb0&t=ffffffff9b067c76', type='text/javascript')
			script(type='text/javascript').
				//<![CDATA[
				function WebForm_OnSubmit() {
				if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
				return true;
				}
				//]]>
			.aspNetHidden
				input#__VIEWSTATEGENERATOR(type='hidden', name='__VIEWSTATEGENERATOR', value='F43A92B7')
				input#__EVENTVALIDATION(type='hidden', name='__EVENTVALIDATION', value='/wEdAAh0RY2G6mjXJWgNPdEJc8mQbR7agQoD3bvg8poul8/Ey716QCRB8Eosi66wH5N4mFOfiVcZZw5Cmj3+aAQXWSaRwTZe8eT88ch5UQK94OaGHZcWePGOKY0hesM2xELhgxZZY8gff98HKhKpo0a3Pcl7qW/Ba4dYUpXaCVssMY4mEpCaSDbSoH/TkG8873DVxCzCXwTM')
			script(type='text/javascript').
				//<![CDATA[
				Sys.WebForms.PageRequestManager._initialize('ctl00$ScriptManager1', 'aspnetForm', ['tctl00$phMain$jobApply$upContact',''], [], [], 90, 'ctl00');
				//]]>
			.container-fluid
				.apply-frm.row
					#ctl00_phMain_jobApply_upContact
						#ctl00_phMain_jobApply_pnlNewComment(onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ctl00_phMain_jobApply_btnPostComment')")
							h4
								| Vui lòng điền đầy đủ thông tin bên dưới
								| (
								span.required *
								|  :
								|                         bắt buộc)
							.col-left
								.form-group
									label.label
										| Vị trí ứng tuyển
										| (
										span.required *
										| )
									input#ctl00_phMain_jobApply_txtPosition.form-control(name='ctl00$phMain$jobApply$txtPosition', type='text', value='Ma trận giấy phép con và nền kinh tế sáng tạo (kỳ 1)', maxlength='255')
									span#ctl00_phMain_jobApply_reqPosition.fa.fa-exclamation-triangle(title='Vui lòng nhập vị trí tuyển dụng', style='display:none;')
								.form-group
									label.label
										| Họ tên
										| (
										span.required *
										| )
									input#ctl00_phMain_jobApply_txtFullName.form-control(name='ctl00$phMain$jobApply$txtFullName', type='text', maxlength='255')
									span#ctl00_phMain_jobApply_reqFullName.fa.fa-exclamation-triangle(title='Vui lòng nhập họ tên', style='display:none;')
								.form-group
									label.label
										| Địa chỉ
										| (
										span.required *
										| )
									input#ctl00_phMain_jobApply_txtAddress.form-control(name='ctl00$phMain$jobApply$txtAddress', type='text', maxlength='255')
									span#ctl00_phMain_jobApply_reqAddress.fa.fa-exclamation-triangle(title='Vui lòng nhập địa chỉ', style='display:none;')
								.form-group
									label.label
										| Email
										| (
										span.required *
										| )
									input#ctl00_phMain_jobApply_txtEmail.form-control(name='ctl00$phMain$jobApply$txtEmail', type='text', maxlength='255')
									span#ctl00_phMain_jobApply_reqEmail.fa.fa-exclamation-triangle(title='Vui lòng nhập email', style='display:none;')
									span#ctl00_phMain_jobApply_regexEmail.fa.fa-exclamation-triangle(title='Email không hợp lệ', style='display:none;')
								.form-group
									label.label
										| Điện thoại
										| (
										span.required *
										| )
									input#ctl00_phMain_jobApply_txtPhone.form-control(name='ctl00$phMain$jobApply$txtPhone', type='text', maxlength='255')
									span#ctl00_phMain_jobApply_reqPhone.fa.fa-exclamation-triangle(title='Vui lòng nhập điện thoại', style='display:none;')
							.col-right
								.form-group
									label.label
										| Nội dung
										| (
										span.required *
										| )
									textarea#ctl00_phMain_jobApply_txtMessage.form-control(name='ctl00$phMain$jobApply$txtMessage', rows='2', cols='20')
									span#ctl00_phMain_jobApply_reqMessage.fa.fa-exclamation-triangle(title='Vui lòng nhập nội dung', style='display:none;')
								.form-group.attachfile1
									label.label
										| File đính kèm 1
										| (
										span.required rar,zip,doc,docx,pdf, <1MB
										| )
									.left
										#ctl00_phMain_jobApply_uplAttachFile1.RadAsyncUpload.RadUpload.RadUpload_Simple.asynupload
											// 2017.3.913.40
											input#ctl00_phMain_jobApply_uplAttachFile1_ClientState(name='ctl00_phMain_jobApply_uplAttachFile1_ClientState', type='hidden', autocomplete='off')
											ul#ctl00_phMain_jobApply_uplAttachFile1ListContainer.ruInputs
												li#ctl00_phMain_jobApply_uplAttachFile1row0
													span.ruFileWrap.ruStyled
														input.ruButton.ruBrowse(type='button', tabindex='-1', value='Select')
														input#ctl00_phMain_jobApply_uplAttachFile1file0.ruFileInput(type='file', tabindex='0', name='ctl00_phMain_jobApply_uplAttachFile1file0', size='23')
														label(for='ctl00_phMain_jobApply_uplAttachFile1file0', style='display:none') label
													.ruDropZone
														span Drop files here
									.clear
								.form-group.attachfile2
									label.label
										| File đính kèm 2
										| (
										span.required rar,zip,doc,docx,pdf, <1MB
										| )
									.left
										#ctl00_phMain_jobApply_uplAttachFile2.RadAsyncUpload.RadUpload.RadUpload_Simple.asynupload
											input#ctl00_phMain_jobApply_uplAttachFile2_ClientState(name='ctl00_phMain_jobApply_uplAttachFile2_ClientState', type='hidden', autocomplete='off')
											ul#ctl00_phMain_jobApply_uplAttachFile2ListContainer.ruInputs
												li#ctl00_phMain_jobApply_uplAttachFile2row0
													span.ruFileWrap.ruStyled
														input.ruButton.ruBrowse(type='button', tabindex='-1', value='Select')
														input#ctl00_phMain_jobApply_uplAttachFile2file0.ruFileInput(type='file', tabindex='0', name='ctl00_phMain_jobApply_uplAttachFile2file0', size='23')
														label(for='ctl00_phMain_jobApply_uplAttachFile2file0', style='display:none') label
													.ruDropZone
														span Drop files here
									.clear
							.form-group
								.frm-btnwrap
									.frm-btn
										input#ctl00_phMain_jobApply_btnPostComment.btn.btn-default(type='submit', name='ctl00$phMain$jobApply$btnPostComment', value='Gửi', onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$phMain$jobApply$btnPostComment", "", true, "jobapply", "", false, false))')
							.clear
			script(type='text/javascript').
				//<![CDATA[
				var Page_Validators =  new Array(document.getElementById("ctl00_phMain_jobApply_reqPosition"), document.getElementById("ctl00_phMain_jobApply_reqFullName"), document.getElementById("ctl00_phMain_jobApply_reqAddress"), document.getElementById("ctl00_phMain_jobApply_reqEmail"), document.getElementById("ctl00_phMain_jobApply_regexEmail"), document.getElementById("ctl00_phMain_jobApply_reqPhone"), document.getElementById("ctl00_phMain_jobApply_reqMessage"));
				//]]>
			script(type='text/javascript').
				//<![CDATA[
				var ctl00_phMain_jobApply_reqPosition = document.all ? document.all["ctl00_phMain_jobApply_reqPosition"] : document.getElementById("ctl00_phMain_jobApply_reqPosition");
				ctl00_phMain_jobApply_reqPosition.controltovalidate = "ctl00_phMain_jobApply_txtPosition";
				ctl00_phMain_jobApply_reqPosition.focusOnError = "t";
				ctl00_phMain_jobApply_reqPosition.display = "Dynamic";
				ctl00_phMain_jobApply_reqPosition.validationGroup = "jobapply";
				ctl00_phMain_jobApply_reqPosition.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
				ctl00_phMain_jobApply_reqPosition.initialvalue = "";
				var ctl00_phMain_jobApply_reqFullName = document.all ? document.all["ctl00_phMain_jobApply_reqFullName"] : document.getElementById("ctl00_phMain_jobApply_reqFullName");
				ctl00_phMain_jobApply_reqFullName.controltovalidate = "ctl00_phMain_jobApply_txtFullName";
				ctl00_phMain_jobApply_reqFullName.focusOnError = "t";
				ctl00_phMain_jobApply_reqFullName.display = "Dynamic";
				ctl00_phMain_jobApply_reqFullName.validationGroup = "jobapply";
				ctl00_phMain_jobApply_reqFullName.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
				ctl00_phMain_jobApply_reqFullName.initialvalue = "";
				var ctl00_phMain_jobApply_reqAddress = document.all ? document.all["ctl00_phMain_jobApply_reqAddress"] : document.getElementById("ctl00_phMain_jobApply_reqAddress");
				ctl00_phMain_jobApply_reqAddress.controltovalidate = "ctl00_phMain_jobApply_txtAddress";
				ctl00_phMain_jobApply_reqAddress.focusOnError = "t";
				ctl00_phMain_jobApply_reqAddress.display = "Dynamic";
				ctl00_phMain_jobApply_reqAddress.validationGroup = "jobapply";
				ctl00_phMain_jobApply_reqAddress.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
				ctl00_phMain_jobApply_reqAddress.initialvalue = "";
				var ctl00_phMain_jobApply_reqEmail = document.all ? document.all["ctl00_phMain_jobApply_reqEmail"] : document.getElementById("ctl00_phMain_jobApply_reqEmail");
				ctl00_phMain_jobApply_reqEmail.controltovalidate = "ctl00_phMain_jobApply_txtEmail";
				ctl00_phMain_jobApply_reqEmail.focusOnError = "t";
				ctl00_phMain_jobApply_reqEmail.display = "Dynamic";
				ctl00_phMain_jobApply_reqEmail.validationGroup = "jobapply";
				ctl00_phMain_jobApply_reqEmail.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
				ctl00_phMain_jobApply_reqEmail.initialvalue = "";
				var ctl00_phMain_jobApply_regexEmail = document.all ? document.all["ctl00_phMain_jobApply_regexEmail"] : document.getElementById("ctl00_phMain_jobApply_regexEmail");
				ctl00_phMain_jobApply_regexEmail.controltovalidate = "ctl00_phMain_jobApply_txtEmail";
				ctl00_phMain_jobApply_regexEmail.focusOnError = "t";
				ctl00_phMain_jobApply_regexEmail.display = "Dynamic";
				ctl00_phMain_jobApply_regexEmail.validationGroup = "jobapply";
				ctl00_phMain_jobApply_regexEmail.evaluationfunction = "RegularExpressionValidatorEvaluateIsValid";
				ctl00_phMain_jobApply_regexEmail.validationexpression = "^([0-9a-zA-Z]([-.\\\w]*[0-9a-zA-Z])*@(([0-9a-zA-Z])+([-\\w]*[0-9a-zA-Z])*\\.)+[a-zA-Z]{2,9})$";
				var ctl00_phMain_jobApply_reqPhone = document.all ? document.all["ctl00_phMain_jobApply_reqPhone"] : document.getElementById("ctl00_phMain_jobApply_reqPhone");
				ctl00_phMain_jobApply_reqPhone.controltovalidate = "ctl00_phMain_jobApply_txtPhone";
				ctl00_phMain_jobApply_reqPhone.focusOnError = "t";
				ctl00_phMain_jobApply_reqPhone.display = "Dynamic";
				ctl00_phMain_jobApply_reqPhone.validationGroup = "jobapply";
				ctl00_phMain_jobApply_reqPhone.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
				ctl00_phMain_jobApply_reqPhone.initialvalue = "";
				var ctl00_phMain_jobApply_reqMessage = document.all ? document.all["ctl00_phMain_jobApply_reqMessage"] : document.getElementById("ctl00_phMain_jobApply_reqMessage");
				ctl00_phMain_jobApply_reqMessage.controltovalidate = "ctl00_phMain_jobApply_txtMessage";
				ctl00_phMain_jobApply_reqMessage.focusOnError = "t";
				ctl00_phMain_jobApply_reqMessage.display = "Dynamic";
				ctl00_phMain_jobApply_reqMessage.validationGroup = "jobapply";
				ctl00_phMain_jobApply_reqMessage.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
				ctl00_phMain_jobApply_reqMessage.initialvalue = "";
				//]]>
			script(type='text/javascript').
			script(type='text/javascript').
				//<![CDATA[
				var Page_ValidationActive = false;
				if (typeof(ValidatorOnLoad) == "function") {
				ValidatorOnLoad();
				}
				function ValidatorOnSubmit() {
				if (Page_ValidationActive) {
				return ValidatorCommonOnSubmit();
				}
				else {
				return true;
				}
				}
				document.getElementById('ctl00_phMain_jobApply_reqPosition').dispose = function() {
				Array.remove(Page_Validators, document.getElementById('ctl00_phMain_jobApply_reqPosition'));
				}
				document.getElementById('ctl00_phMain_jobApply_reqFullName').dispose = function() {
				Array.remove(Page_Validators, document.getElementById('ctl00_phMain_jobApply_reqFullName'));
				}
				document.getElementById('ctl00_phMain_jobApply_reqAddress').dispose = function() {
				Array.remove(Page_Validators, document.getElementById('ctl00_phMain_jobApply_reqAddress'));
				}
				document.getElementById('ctl00_phMain_jobApply_reqEmail').dispose = function() {
				Array.remove(Page_Validators, document.getElementById('ctl00_phMain_jobApply_reqEmail'));
				}
				document.getElementById('ctl00_phMain_jobApply_regexEmail').dispose = function() {
				Array.remove(Page_Validators, document.getElementById('ctl00_phMain_jobApply_regexEmail'));
				}
				document.getElementById('ctl00_phMain_jobApply_reqPhone').dispose = function() {
				Array.remove(Page_Validators, document.getElementById('ctl00_phMain_jobApply_reqPhone'));
				}
				document.getElementById('ctl00_phMain_jobApply_reqMessage').dispose = function() {
				Array.remove(Page_Validators, document.getElementById('ctl00_phMain_jobApply_reqMessage'));
				}
				Sys.Application.add_init(function() {
				$create(Telerik.Web.UI.RadAsyncUpload, {"_accessKey":"","_chunkSize":2097152,"_fileFilter":"{\\"values\":[{\"Description\":\"*.rar; *.zip; *.doc; *.docx; *.pdf\",\"Extensions\":\"*.rar;*.zip;*.doc;*.docx;*.pdf\"}]}","_flashModuleUrl":"/WebResource.axd?d=_5Ta3AXDJWvpK0N6mqfuTGzar46TaSPSj0pHDTvIv-ZmzGBZeLomUN4qLZbiHCFnAwZnqbdjf6qCRINx9R8RoYHecmUKhIfgHjySr-pYtYiIN801FYwtBoboKCIGw9BDg5BeZt4lKoI4gqhezXzAsi_RmDUlcUWgffcAplarw5O-xHVC0\u0026t=636408409000000000","_handlerUrl":"/Telerik.Web.UI.WebResource.axd?type=rau","_hideFileInput":true,"_maxFileSize":1048576,"_pageGUID":"2270f12d-b216-4b82-b986-c31aeea61f29","_progressHandlerUrl":"../Telerik.RadUploadProgressHandler.ashx","_serializedConfiguration":"499D33E566421E7085C712AE1822BDA541DA14F8BA1AB0805DCD8EE1797986E22D0161DFB170B24AAA81792603D8BC0115BAC1A03E6805A3BAB56EB69DDA91DE8105C362189A54DC696B86D04AF4DEA79EC04DEC76B6E714E805419E8FF3B48C7A6012F4F26DA2C08D058DD8AEF708628A924B91D0D4AB674DB7320D23407D038A2778E7095EF004B08F6EBBC7CB1C4146D63BDF925C21A65335A3388DC0A57517E226213949F381D7756AB6057A66220DC7B9A8660B15FE45D76F5402D681A04EF5041CFF17C7ADCD282235CF0149F7FA45A9BC2007D04BB8DF6F51CF74344C16342B30B4628BB9F93C0189A708EB50A885FB2392B44E9FD47720037EFF45B159B419E1A854C298A382FC13B18AFD9979521F1FCB002D916B20FA1AAE0B417218606E1E1FCC789B26F3CEEE5E7A2C6C441AE3024E0853923369B8BBDEFF684A745AF7A2DDE1C7C205D62F9EA2FB2CC64606E07322B03F6AD6BFDBD5BF7911517D2F18BD06E0374238D53290225EDD77B6A9C99F87367A08B3435497EB940FF2D9D62070EE857A0399B0F33A8EE17E6ACF28E5AE0E45ECE8EEC3C4754A249B19B5059A2358A23DF0D059CCEF5F813E95AA03208F6139FB74CAB243CDC113C038F04AA36318CD7BBFB4C1B2FE70506AF50CD80B65FEBDD0163DE2004BA7DF6753CA985B064514073CAC49D54A448E613987AAF8F7A0D85B991DBAD139B0C6A5AB214F55AE66AE9282BF45941959EA5B3ABC3826D6A8387B1E33968E926FD1228EE1750D05F7CB7608331638EB960305751CD08FE9800B1627198ACB887147A652078123DC55F860A6206CEF2F7A188706EDC17C040BA4A8670DADC8FFEFDA7D87C7462597C70C0D228A537E03228D7AF17E4392AC92D9775274F6AF5B07F11E8691A775BE51D7D2F0579067866FC724D0C50AEA24B14DF99CF3B441B99F624AE098E0E3B05E3D16CB4D91F4162B59DA9876A4560BC255E51D904455009001E6A83DFFD43E827C1841D0622BC55C0F10C3533037E27FEF02C02E59A785B58A6D2003827692DA29F2E752EF576A996D1E612484FD5B4B1DEDA6C19A41775FFD9CF02F11F134557124B24AEE4597D8231E0E6D78E9C6C5EEFA4B5D44FDA548C1427E4D16CDCAA3CBBDBE9DFAF7B8537AEDA0D9C387CF40A5BAA8CADCB69198EAECA86AFC319AC1CDF9AE0697B8688DDA70E900B0B018B90387D4473A4E667D2BED4B5A4A961C684A742BC9295E11BEA9314C24675836852F12362E00EBA5C789F6A3759D8047AFAE6E6E3AA1DF5CCDF6255644DC0EEB47F90C1B815E38A26519D5976AB7152DEBEC48780E308EDC26E7A37B81AA46C4A92F6344AB3D1BC5EA2FBA58DA288A52E5B1A9F4A80E345D15CEEC1C3EBAC2B9168E6FE8B62F77AEB6A962CEEC8A8A25BF52E57F56A1E977D658FE51F7D5BACE","_serializedConfigurationType":"657A4ADEED0E4ECC505E75EAEBD0640B5F68F90A64C54BF853BB720823AB7A0C81AD0E05034FAA424FD5E00C4A86D3B81F15BB1E2C35BA857F70EF1377063D37FA55D75CC665E2FFAA34CAA098BB011B8D602C47D2E0F4B14844C7F73B0BD7B7FDECFE7A5ADA4B838A9BFCE384A2812DFE1CD383EA1C2A6C97E4351FEFEC5FEEB22C90B5E0EC4F6C086596A4603487B277B894342409B5CF1801595E6618139671E2C0914FD20C538D5ACC91DB8640E845EC475E7A1C3FD5883459A7128308B63B61C4A211C5AC2E6A4D9AD623AACAA3B8B1CEA6","_silverlightModuleUrl":"/WebResource.axd?d=QQ3MLwUIfo7BnJbx8IzQwDm-MtOmp6nQrNioypVK__7wLOV6otHNh28nffo8Gsr4VJVf9kUVApJuwFYqxTaA1bv8o7x61pxgeLX9lBosAsMRwUuGD6MeuXS1EobmF4sRgN-VobfGsKqE90wnqxrp6jHV2ACgXAG6QoquagX5lTmrUk13vRA-xEaiAxvfKOrcNXQVdA2\u0026t=636408409000000000","_skin":"Simple","_tabIndex":0,"allowedFileExtensions":"[\"rar\",\"zip\",\"doc\",\"docx\",\"pdf\"]","clientStateFieldID":"ctl00_phMain_jobApply_uplAttachFile1_ClientState","dropZones":"[]","localization":{"Select":"Select","Remove":"Remove","Cancel":"Cancel","DropZone":"Drop files here"}}, null, null, $get("ctl00_phMain_jobApply_uplAttachFile1"));
				});
				Sys.Application.add_init(function() {
				$create(Telerik.Web.UI.RadAsyncUpload, {"_accessKey":"","_chunkSize":2097152,"_fileFilter":"{\\"values\":[{\"Description\":\"*.rar; *.zip; *.doc; *.docx; *.pdf\",\"Extensions\":\"*.rar;*.zip;*.doc;*.docx;*.pdf\"}]}","_flashModuleUrl":"/WebResource.axd?d=_5Ta3AXDJWvpK0N6mqfuTGzar46TaSPSj0pHDTvIv-ZmzGBZeLomUN4qLZbiHCFnAwZnqbdjf6qCRINx9R8RoYHecmUKhIfgHjySr-pYtYiIN801FYwtBoboKCIGw9BDg5BeZt4lKoI4gqhezXzAsi_RmDUlcUWgffcAplarw5O-xHVC0\u0026t=636408409000000000","_handlerUrl":"/Telerik.Web.UI.WebResource.axd?type=rau","_hideFileInput":true,"_maxFileSize":1048576,"_pageGUID":"2c6b400b-b100-4a1f-bee0-5bc9e902cc62","_progressHandlerUrl":"../Telerik.RadUploadProgressHandler.ashx","_serializedConfiguration":"EA35A92A50B48BC894EDE187FB03DA2EAEFDCC46E2009E541636DABBB30657615D378503DB2BA1BC5055F0D3609CA64F18A18C2145D0201C12CA8D726E69F03D52A842C8C2292CFE7153C2D76FB6A578E8C6BB35F24A0F0E9CFD09B979FA6A5B57BDFE6C6C6E8A68B5C170F0A09079BEA40CB284E2C7B06B90B20FC243E69D9A90310631326762DE6444C15F30235A9DD82606657A39BEBE353F9244A96683C8541EE11BB408E589AF833FB5D06C837C8505147EDFF00B83809790BFAB8804FAACC8B6BE4CA5C86F9FF11CC61701F96D4D6DE679004309724AEF78FD09D3FCCBC20262D18D05E79FB48E12418F6F5F3FCE2D87B511F87BA6421B4982ADBAB39EBAFEC5595F7FA11CE8AABBBAC749451A9C7A77605613D4A82464D72CE66770816CF74E8DDA040BDC087BF33E8E99639DCA9D80CF60A5FCDE2E846AEA0ABB913CAC3C02C2BF8BA561CBB996A265856F87C1D722B2ABB17D368E98D53E2C666FEDDF14A70D400B5AE8D4407E65B1407293C588E92134762610D103E691AB7A5EEF4351C9BA89CCC00BF433B9ED44DFF3C1F13DB550CF2F202C1A84DBF5AD69D6932A046E29D35A8182267C265691EE9F3CAE6ED954430DA94C8F910ADD60DA953472960845263B6F1D49CF62EF30B6F23D750573956BA403E338512DB23101578D7CF48819883193F189C7617DA34161F209DA9D894BE39415AAC62065858F79DA26CD7A1518143327B47EF792F3533F6E7D765FDC595B1BDDE2C84107DECEED0F553AC04D5CC0FA9DE1D747BE7D003829517666E3C53DC9AD4C08A5331D730B62A44BB7721A41754304DFFF50F6B599E71254EE845BAD01BB9909F7D647D5C14DC2F895DBF3C5DC10E928DAA9B240540C9DC474021AC664BF89D6B9B2E35E164AF65D735F9B897FB660CA1F50115A2C03FDA60E627B4B9A1594E1D0BB4EE269FF9954FF66987AA7437632253CAD79A1A21773D7928DD012D37110C21EC276CFD9AC735F47B3588C0E4BA2E4E8FC98D4369CCA601BF41A6A267C065BF7D9989B26B9F63DD7912DE1BC841E375D7DCDB34C0044357D3EF0823C33C3836DAF211DC77509DFDB8AE446810860A0F1271894427972E6801BB33C87B79AAED862A6F3322EDD3FE73F5C7942D31EE7E4A2A533F6E08EE181526D6AB7BD2D85E7523842183EF032A22247E58B9A11342A0600F2170328B4D6D4D9957DA52A54BA8F2B2AFCE8E2E655D734E0F0DDA3BA7F2FFCC9BE7981338A1C9C3956FF647F6EB2BF8AD607B44ACFF9241301EDDB8CE7AFAF84D29630C288305BFE7B1E49416AC6356149E470769E5434483C4E9B0E98F46C203E880932EE40F4A68FE59936DC4DBB0A1A33A914579AF7FB9CE80E57AE32BF3966A227438D9CB10B18082AF48D87599CE211BFFF72AB29B774B22073D9AB9D3D5A2D37DC3E","_serializedConfigurationType":"0246D5E3F9E016BE499BE75AC9D07DA35F9F153A70E86381AA40CCB93DCE3E8D03BB47BFC21B272145D2720F31CA796F5B8E73C9D96268C3388BF75FF0A51D656766C7118786EF58D188023CD76A268C6881C93674569296899731B4190307B5A55D79A7FC74586D4E6713E43641B81278C343F1D9830A09FB4C0AB502E8F429EC8CAA7FB5050E51E342E556E0526718A258C948DECB43027EA9C86320FE9BDDE47FD38A9B0ED180E1959DCE56D57EB0646E9B13B737AD0481BEE7EBB876DB4917BBAF4A309D48A7B996CC420F28EC28E73E9976","_silverlightModuleUrl":"/WebResource.axd?d=QQ3MLwUIfo7BnJbx8IzQwDm-MtOmp6nQrNioypVK__7wLOV6otHNh28nffo8Gsr4VJVf9kUVApJuwFYqxTaA1bv8o7x61pxgeLX9lBosAsMRwUuGD6MeuXS1EobmF4sRgN-VobfGsKqE90wnqxrp6jHV2ACgXAG6QoquagX5lTmrUk13vRA-xEaiAxvfKOrcNXQVdA2\u0026t=636408409000000000","_skin":"Simple","_tabIndex":0,"allowedFileExtensions":"[\"rar\",\"zip\",\"doc\",\"docx\",\"pdf\"]","clientStateFieldID":"ctl00_phMain_jobApply_uplAttachFile2_ClientState","dropZones":"[]","localization":{"Select":"Select","Remove":"Remove","Cancel":"Cancel","DropZone":"Drop files here"}}, null, null, $get("ctl00_phMain_jobApply_uplAttachFile2"));
				});
				//]]>
