extends _layout/_layout.pug

block var
    - title = 'Dự án'
    - bodyClass = 'duan-page'

block header
    include ../lib/_header/index.pug
block banner
    include ../lib/banner/banner-trangrieng/index.pug
    include ../lib/breadcrumb/index.pug
block main
    include ../lib/duan/chitiet.pug
block footer
    include ../lib/_footer/index.pug