extends _layout/_layout.pug

block var
    - title = 'Trang chủ'
    - bodyClass = 'homepage'

block header
    include ../lib/_header/index.pug
block banner
    include ../lib/banner/banner-trangchu/index.pug
block footer
    include ../lib/_footer/index.pug