footer.canhcam-footer-1
	article.nav-section
		.container
			.row
				.col-lg-4.contact-info
					h2.title Thông tin liên hệ
					h3.subtitle ĐVCQ: CÔNG TY CỔ PHẦN ĐẦU TƯ XÂY DỰNG VÀ THƯƠNG MẠI TRƯỜNG THỊNH
					.content
						p MSDN: 0305042967 cấp 02/06/2007 bởi Sở KH&amp;ĐT HCM
						p Địa chỉ: 14 Dương Đình Hội, P. Phước Long B, Q. 9, Tp. HCM
						p Hotline: 028 3728 1693 - 028 36402610
						p Fax: 028 6282 7829
						p
							span Email: 
							a(href='mailto:info@truongthinhcorp.com.vn') info@truongthinhcorp.com.vn
						p
							span Website: 
							a(href='/') www.truongthinhcorp.com.vn
					.certificate
						img(src='./img/_global/bocongthuong.png', alt='')
				.col-lg-4.address-info
					h2.title Sơ đồ nhà máy, văn phòng
					.content
						img(src='./img/_global/bandovietnam.png', alt='')
						.addresses
							.address
								h3.title Nhà Máy Sản Xuất Gỗ Bình Phước
								p
									| Lô H4, Đường D4, KCN Minh Hưng III, xã Minh Hưng, huyện Chơn Thành, tỉnh Bình Phước.
							.address
								h3.title Nhà Máy Phụ Gia Thục Phẩm Long An
								p Lô B5/1, Đường 02, KCN Tân Kim, Huyện Cần Giuộc, Tỉnh Long An.
							.address
								h3.title Xưởng Gia Công Kết Cấu Thép
								p
									| Số 994A/22 đường ĐT 743, Tổ 22, Khu phố Bình Thung 1 - Phường Bình An - TX Dĩ An - Bình Dương.
				.col-lg-4.social-info
					h2.title Mạng xã hội
					.social-links
						a.facebook(href='javascript:void(0)', target='_blank')
							i.mdi.mdi-facebook
						a.linkedin(href='javascript:void(0)', target='_blank')
							i.mdi.mdi-linkedin
						a.youtube(href='javascript:void(0)', target='_blank')
							i.mdi.mdi-youtube
						a.instagram(href='javascript:void(0)', target='_blank')
							i.mdi.mdi-instagram
					.website-links
						h3 Liên kết website
						select
							option Godaco Seafood 1
							option Godaco Seafood 2
							option Godaco Seafood 3
							option Godaco Seafood 4
					.quality-certificate
						h3 Chứng nhận chất lượng
						img(src='./img/_global/chungnhanchatluong.png', alt='')
	article.copyright-section
		.container.copyright-nav
			.sitemaps
				a(href='javascript:void(0)') Điều khoản sử dụng
				a(href='javascript:void(0)')
					| Chính sách
					| bảo mật
				a(href='javascript:void(0)') Sơ đồ trang web
			.copyright
				span © 2018 Truong Thinh Corp. All rights reserved. 
				a(href='https://www.canhcam.vn/')
					| Design
					| by Cánh Cam.
