.duan-ct
    .row.brief-info
        .col-lg-8.project-slider
            .project-images
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            a(href="./img/sanpham/1.jpg" data-fancybox="gallery-1")
                                .img
                                    img(data-src='./img/sanpham/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                        .swiper-slide
                            a(href="./img/sanpham/2.jpg" data-fancybox="gallery-1")
                                .img
                                    img(data-src='./img/sanpham/2.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                        .swiper-slide
                            a(href="./img/sanpham/3.jpg" data-fancybox="gallery-1")
                                .img
                                    img(data-src='./img/sanpham/3.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                        .swiper-slide
                            a(href="./img/sanpham/4.jpg" data-fancybox="gallery-1")
                                .img
                                    img(data-src='./img/sanpham/4.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                    .btn-prev
                        em.mdi.mdi-chevron-left
                    .btn-next
                        em.mdi.mdi-chevron-right
            .project-thumbs
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .img
                                img(data-src='./img/sanpham/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                        .swiper-slide
                            .img
                                img(data-src='./img/sanpham/2.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                        .swiper-slide
                            .img
                                img(data-src='./img/sanpham/3.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                        .swiper-slide
                            .img
                                img(data-src='./img/sanpham/4.jpg', alt='', data-object-fit-cover="").lazyload.blur-up


        .col-lg-4
            h2.title Showroom ô tô TMT Miền Nam
            table.info
                tr
                    td Địa điểm
                    td Quận 12 - Tp.HCM
                tr
                    td Quy mô
                    td 
                        |9000 m
                        sup 2
                tr
                    td Danh mục
                    td Thi công - Thiết kế cơ cấu
                tr
                    td Thời gian
                    td 2017
                
            .separator
            .brief-content
                p Phong cách thiết kế nội thất châu Âu luôn có sức hút mãnh liệt với các kiến trúc nhà ở thế giới và Việt Nam. Trong đó, bàn ghế phong cách châu Âu trở thành xu hướng lựa chọn của nhiều người bởi nó đề cao giá trị nghệ thuật và tính đa năng ngay từ cái nhìn đầu tiên.
            .separator
            .tools
                a(href="javascript:void(0)").btn-share
                    em.mdi.mdi-share-variant
                a(href="javascript:void(0)").btn-print
                    em.mdi.mdi-printer
                a(href="javascript:void(0)").btn-download
                    em.mdi.mdi-cloud-download

    .other-news
        .title
            h2 Dự án khác
            .buttons
                .btn-other-prev
                    em.mdi.mdi-arrow-left
                .separator-v2
                .btn-other-next
                    em.mdi.mdi-arrow-right
        .swiper-container.truongthinh-items
            .swiper-wrapper
                .swiper-slide
                    a.truongthinh-item(href="./duan-ct.html")
                        .img
                            img(data-src='./img/duan/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                        .content
                            h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                            p Thi công hệ thống M&amp;E
                        .cover
                            h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                            p Thi công hệ thống M&amp;E
                .swiper-slide
                    a.truongthinh-item(href="./duan-ct.html")
                        .img
                            img(data-src='./img/duan/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                        .content
                            h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                            p Thi công hệ thống M&amp;E
                        .cover
                            h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                            p Thi công hệ thống M&amp;E
                .swiper-slide
                    a.truongthinh-item(href="./duan-ct.html")
                        .img
                            img(data-src='./img/duan/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                        .content
                            h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                            p Thi công hệ thống M&amp;E
                        .cover
                            h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                            p Thi công hệ thống M&amp;E
                .swiper-slide
                    a.truongthinh-item(href="./duan-ct.html")
                        .img
                            img(data-src='./img/duan/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                        .content
                            h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                            p Thi công hệ thống M&amp;E
                        .cover
                            h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                            p Thi công hệ thống M&amp;E