.sidenav
    .item
        .zone-parent
            a(href="javascript:void(0)") 
                span Đã hoàn thành
        .zone-list
            a(href="javascript:void(0)") Công trình DD &amp; CN
            a(href="javascript:void(0)") Thủy điện - thủy lợi
            a(href="javascript:void(0)") Hạ tầng - giao thông
    .item
        .zone-parent
            a(href="javascript:void(0)") 
                span Đang thực hiện
        .zone-list
            a(href="javascript:void(0)") Công trình DD &amp; CN
            a(href="javascript:void(0)") Thủy điện - thủy lợi
            a(href="javascript:void(0)") Hạ tầng - giao thông
            a(href="javascript:void(0)") Đang thực hiện
    .item
        .zone-parent
            a(href="javascript:void(0)") 
                span Đã triển khai
        .zone-list
            a(href="javascript:void(0)") Công trình DD &amp; CN
            a(href="javascript:void(0)") Thủy điện - thủy lợi
            a(href="javascript:void(0)") Hạ tầng - giao thông
            a(href="javascript:void(0)") Đang thực hiện

.duan
    h1 Công trình thi công

    .row.truongthinh-items
        .col-md-6
            a.truongthinh-item(href="./duan-ct.html")
                .img
                    img(data-src='./img/duan/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                .content
                    h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    p Thi công hệ thống M&amp;E
                .cover
                    h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    p Thi công hệ thống M&amp;E
        .col-md-6
            a.truongthinh-item(href="./duan-ct.html")
                .img
                    img(data-src='./img/duan/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                .content
                    h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    p Thi công hệ thống M&amp;E
                .cover
                    h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    p Thi công hệ thống M&amp;E
        .col-md-6
            a.truongthinh-item(href="./duan-ct.html")
                .img
                    img(data-src='./img/duan/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                .content
                    h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    p Thi công hệ thống M&amp;E
                .cover
                    h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    p Thi công hệ thống M&amp;E
        .col-md-6
            a.truongthinh-item(href="./duan-ct.html")
                .img
                    img(data-src='./img/duan/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                .content
                    h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    p Thi công hệ thống M&amp;E
                .cover
                    h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    p Thi công hệ thống M&amp;E
        .col-md-6
            a.truongthinh-item(href="./duan-ct.html")
                .img
                    img(data-src='./img/duan/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                .content
                    h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    p Thi công hệ thống M&amp;E
                .cover
                    h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    p Thi công hệ thống M&amp;E
        .col-md-6
            a.truongthinh-item(href="./duan-ct.html")
                .img
                    img(data-src='./img/duan/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                .content
                    h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    p Thi công hệ thống M&amp;E
                .cover
                    h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    p Thi công hệ thống M&amp;E

    .modulepager
        ul.pagination
            li.PagerOtherPageCells
                a.ModulePager.FirstPage(href='#', title='Trang đầu tiên') «
            li.PagerOtherPageCells
                a.ModulePager.BackPage(href='#', title='Quay lại trang 5') ‹
            li.PagerCurrentPageCell.active
                span.SelectedPage(title='Đến trang 1') 1
            li.PagerOtherPageCells
                a.ModulePager(href='#', title='Đến trang 2') 2
            li.PagerOtherPageCells
                a.ModulePager(href='#', title='Đến trang 3') 3
            li.PagerOtherPageCells
                a.ModulePager(href='#', title='Đến trang 4') 4
            li.PagerOtherPageCells
                a.ModulePager(href='#', title='Đến trang 5') 5
            li.PagerOtherPageCells
                a.ModulePager.NextPage(href='#', title='Chuyển đến trang 7') ›
            li.PagerOtherPageCells
                a.ModulePager.LastPage(href='#5', title='Trang cuối') »
