<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <showoption name="Hot" value="1"></showoption>

  <templatelist xsltname="LinhVuc.xslt" name="Lĩnh vực - Giới thiệu"></templatelist>
  <templatelist xsltname="DuAn_DS.xslt" name="Danh sách dự án"></templatelist>
  <templatelist xsltname="HoiDap.xslt" name="Danh sách hỏi đáp"></templatelist>
  <templatelist xsltname="TaiLieu_DS.xslt" name="Danh sách tài liệu"></templatelist>
  <templatelist xsltname="TuyenDung_DS.xslt" name="Danh sách tuyển dụng"></templatelist>
  <templatelist xsltname="TinTuc_DS.xslt" name="Danh sách tin tức"></templatelist>
  <templatelist xsltname="LienHe.xslt" name="Liên hệ"></templatelist>
  <templatelist xsltname="GioiThieu_GioiThieuChung.xslt" name="Giới thiệu chung"></templatelist>
  <templatelist xsltname="GioiThieu_TamNhin.xslt" name="Tầm nhìn, sứ mệnh, giá trị cốt lõi"></templatelist>
  <templatelist xsltname="GioiThieu_ThuVienAnh.xslt" name="Thư viện ảnh"></templatelist>
  <templatelist xsltname="GioiThieu_ChungNhan.xslt" name="Chứng nhận chất lượng"></templatelist>

  <templatedetail xsltname="DuAn_CT.xslt" name="Chi tiết dự án"></templatedetail>
  <templatedetail xsltname="TuyenDung_CT.xslt" name="Chi tiết tuyển dụng"></templatedetail>
  <templatedetail xsltname="TinTuc_CT.xslt" name="Chi tiết tin tức"></templatedetail>

  <position>
    <add name="Dự án - Trang chủ" value="1" resourcefile="" />
  </position>
</templates>