.linhvuc-ct
    h1 Cơ khí xây dựng
    .nav-headers
        .nav-links-mobile
            select
                option Sản phẩm nổi bật
                option cnc nghệ thuật
                option gia công thép theo yêu cầu
        .nav-links
            a(href="/sanpham.html").nav-link Sản phẩm nổi bật
            a(href="javascript:void(0)").nav-link cnc nghệ thuật
            a(href="javascript:void(0)").nav-link gia công thép theo yêu cầu
    .desc Với kinh nghiệm lâu năm của đội ngũ kỹ sư, công nhân lành nghề được tích lũy qua các dự án và sự cộng tác với các chuyên gia trong và ngoài nước, chúng tôi không ngừng trau dồi kiến thức và cập nhật các phương pháp kỹ thuật hiện đại để có thể đáp ứng được các yêu cầu ngày càng cao của các khách hàng trong nước và quốc tế.

    .items
        .row.no-gutters.item
            .col-md-6
                .img
                    img(data-src='./img/linhvuc/2.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
            .col-md-6
                .content
                    h2 Thi công - thiết kế kết cấu thép
                    .brief-content
                        p Với đội ngũ lãnh đạo dày dạn kinh nghiệm, đội ngũ kỹ sư có trình độ chuyên môn cao,  đội thi công lành nghề, tràn đầy nhiệt huyết, Trường Thịnh cam kết mang đến cho Quý đối tác những công trình với chất lượng tốt nhất, tiến độ nhanh nhất và giá cả cạnh tranh nhất.
                        br
                        p Trong hơn suốt 10 năm qua , Trường Thịnh đã tham gia hàng loạt dự án lớn nhỏ trong nhiều lĩnh vực như: Dân dụng - Công nghiệp, Thuỷ lợi - Thuỷ điện, Hạ tầng kỹ thuật, Giao thông - Bến cảng,...
        .row.no-gutters.item
            .col-md-6
                .img
                    img(data-src='./img/linhvuc/2.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
            .col-md-6
                .content
                    h2 Thi công - thiết kế kết cấu thép
                    .brief-content
                        p Với đội ngũ lãnh đạo dày dạn kinh nghiệm, đội ngũ kỹ sư có trình độ chuyên môn cao,  đội thi công lành nghề, tràn đầy nhiệt huyết, Trường Thịnh cam kết mang đến cho Quý đối tác những công trình với chất lượng tốt nhất, tiến độ nhanh nhất và giá cả cạnh tranh nhất.
                        br
                        p Trong hơn suốt 10 năm qua , Trường Thịnh đã tham gia hàng loạt dự án lớn nhỏ trong nhiều lĩnh vực như: Dân dụng - Công nghiệp, Thuỷ lợi - Thuỷ điện, Hạ tầng kỹ thuật, Giao thông - Bến cảng,...

    .separator

    .other-products
        h2 Sản phẩm cơ khí
        .row.truongthinh-items
            .col-md-6.col-xl-4
                a.truongthinh-item(href="javascript:void(0)")
                    .img
                        img(data-src='./img/thuvienanh/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                    .content
                        h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    .cover
                        h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
            .col-md-6.col-xl-4
                a.truongthinh-item(href="javascript:void(0)")
                    .img
                        img(data-src='./img/thuvienanh/2.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                    .content
                        h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    .cover
                        h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
            .col-md-6.col-xl-4
                a.truongthinh-item(href="javascript:void(0)")
                    .img
                        img(data-src='./img/thuvienanh/3.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                    .content
                        h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    .cover
                        h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
            .col-md-6.col-xl-4
                a.truongthinh-item(href="javascript:void(0)")
                    .img
                        img(data-src='./img/thuvienanh/4.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                    .content
                        h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    .cover
                        h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
            .col-md-6.col-xl-4
                a.truongthinh-item(href="javascript:void(0)")
                    .img
                        img(data-src='./img/thuvienanh/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                    .content
                        h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    .cover
                        h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
            .col-md-6.col-xl-4
                a.truongthinh-item(href="javascript:void(0)")
                    .img
                        img(data-src='./img/thuvienanh/2.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                    .content
                        h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                    .cover
                        h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh