.linhvuc
    h1 Lĩnh vực hoạt động
    .desc TRƯỜNG THỊNH luôn phấn đấu nâng cao chất lượng sản phẩm và mở rộng năng lực sản xuất với 5 lĩnh vực hoạt động chính

    .row.items
        .col-md-6
            .item
                a.img(href="/linhvuc-ct.html")
                    img(data-src='./img/linhvuc/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                .content
                    .main-links
                        a(href="javascript:void(0)") Sản phẩm từ gỗ
                    .sub-links
                        a(href="javascript:void(0)")
                            em.mdi.mdi-arrow-right
                            span Gỗ viên nén
                        a(href="javascript:void(0)")
                            em.mdi.mdi-arrow-right
                            span Gỗ thanh
                        a(href="javascript:void(0)")
                            em.mdi.mdi-arrow-right
                            span Mùn cưa ép khối
        .col-md-6
            .item
                a.img(href="javascript:void(0)")
                    img(data-src='./img/linhvuc/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                .content
                    .main-links
                        a(href="javascript:void(0)") Sản phẩm từ gỗ
                    .sub-links
                        a(href="javascript:void(0)")
                            em.mdi.mdi-arrow-right
                            span Gỗ viên nén
                        a(href="javascript:void(0)")
                            em.mdi.mdi-arrow-right
                            span Gỗ thanh
                        a(href="javascript:void(0)")
                            em.mdi.mdi-arrow-right
                            span Mùn cưa ép khối
                        a(href="javascript:void(0)")
                            em.mdi.mdi-arrow-right
                            span Gỗ thanh
                        a(href="javascript:void(0)")
                            em.mdi.mdi-arrow-right
                            span Mùn cưa ép khối
        .col-md-6
            .item
                a.img(href="javascript:void(0)")
                    img(data-src='./img/linhvuc/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                .content
                    .main-links
                        a(href="javascript:void(0)") Sản phẩm từ gỗ
                    .sub-links
                        a(href="javascript:void(0)")
                            em.mdi.mdi-arrow-right
                            span Gỗ viên nén
                        a(href="javascript:void(0)")
                            em.mdi.mdi-arrow-right
                            span Gỗ thanh
                        a(href="javascript:void(0)")
                            em.mdi.mdi-arrow-right
                            span Mùn cưa ép khối
        .col-md-6
            .item
                a.img(href="javascript:void(0)")
                    img(data-src='./img/linhvuc/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                .content
                    .main-links
                        a(href="javascript:void(0)") Sản phẩm từ gỗ
                    .sub-links
                        a(href="javascript:void(0)")
                            em.mdi.mdi-arrow-right
                            span Gỗ viên nén
                        a(href="javascript:void(0)")
                            em.mdi.mdi-arrow-right
                            span Gỗ thanh
                        a(href="javascript:void(0)")
                            em.mdi.mdi-arrow-right
                            span Mùn cưa ép khối
        .col-md-6
            .item
                a.img(href="javascript:void(0)")
                    img(data-src='./img/linhvuc/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                .content
                    .main-links
                        a(href="javascript:void(0)") Sản phẩm từ gỗ
                    .sub-links
                        a(href="javascript:void(0)")
                            em.mdi.mdi-arrow-right
                            span Gỗ viên nén
                        a(href="javascript:void(0)")
                            em.mdi.mdi-arrow-right
                            span Gỗ thanh
                        a(href="javascript:void(0)")
                            em.mdi.mdi-arrow-right
                            span Mùn cưa ép khối



.col-md-6.other-fields-wrapper
    .other-fields(bg-img="./img/linhvuc/bg.jpg" bg-img-mobile="./img/linhvuc/bg.jpg")
        h2 Ngành nghề khác
        a(href="#")
            span Xem thêm
            em.mdi.mdi-arrow-right


.sidenav
    .item
        .zone-parent
            a(href="/tailieu.html") 
                span Tài liệu quy định
        .zone-list
            a(href="javascript:void(0)") Công trình DD &amp; CN
            a(href="javascript:void(0)") Thủy điện - thủy lợi
            a(href="javascript:void(0)") Hạ tầng - giao thông
    .item
        .zone-parent
            a(href="/hoidap.html") 
                span Hỏi đáp
        .zone-list
            a(href="javascript:void(0)") Công trình DD &amp; CN
            a(href="javascript:void(0)") Thủy điện - thủy lợi
            a(href="javascript:void(0)") Hạ tầng - giao thông
            a(href="javascript:void(0)") Đang thực hiện

