.sidebar
	.contact
		h2 Hotline
		.phone
			a(href="tel:0903357874") 090 335 78 74
		.social-links
			a(href="#").btn-skype
				img(src="./img/_global/skype.png", alt="")
			a(href="#").btn-zalo
				img(src="./img/_global/zalo.png", alt="")
	.about
		a(href="javascript:void(0)")
			.img(bg-img-mobile="./img/sidebar/1.jpg")
				img(data-src='./img/sidebar/1.jpg', alt='').lazyload.blur-up
			.link
				em.mdi.mdi-play
				span Giới thiệu công ty
	.profile
		a(href="javascript:void(0)")
			.img(bg-img-mobile="./img/sidebar/2.jpg")
				img(data-src='./img/sidebar/2.jpg', alt='').lazyload.blur-up
			.link
				em.mdi.mdi-file-pdf
				span profile truong thinh corp

	.recruitment
		a(href="javascript:void(0)")
			.img(bg-img-mobile="./img/sidebar/3.jpg")
				img(data-src='./img/sidebar/3.jpg', alt='').lazyload.blur-up