.sanpham
    h1 Cơ khí xây dựng
    .nav-headers
        .nav-links-mobile
            select
                option Sản phẩm nổi bật
                option cnc nghệ thuật
                option gia công thép theo yêu cầu
        .nav-links
            a(href="/sanpham.html").nav-link Sản phẩm nổi bật
            a(href="javascript:void(0)").nav-link cnc nghệ thuật
            a(href="javascript:void(0)").nav-link gia công thép theo yêu cầu

    .sanpham-ct
        .row.brief-info
            .col-xl-7.product-slider
                .product-images
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                a(href="./img/sanpham/1.jpg" data-fancybox="gallery-1")
                                    .img
                                        img(data-src='./img/sanpham/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                            .swiper-slide
                                a(href="./img/sanpham/2.jpg" data-fancybox="gallery-1")
                                    .img
                                        img(data-src='./img/sanpham/2.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                            .swiper-slide
                                a(href="./img/sanpham/3.jpg" data-fancybox="gallery-1")
                                    .img
                                        img(data-src='./img/sanpham/3.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                            .swiper-slide
                                a(href="./img/sanpham/4.jpg" data-fancybox="gallery-1")
                                    .img
                                        img(data-src='./img/sanpham/4.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                        .btn-prev
                            em.mdi.mdi-chevron-left
                        .btn-next
                            em.mdi.mdi-chevron-right
                .product-thumbs
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .img
                                    img(data-src='./img/sanpham/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                            .swiper-slide
                                .img
                                    img(data-src='./img/sanpham/2.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                            .swiper-slide
                                .img
                                    img(data-src='./img/sanpham/3.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                            .swiper-slide
                                .img
                                    img(data-src='./img/sanpham/4.jpg', alt='', data-object-fit-cover="").lazyload.blur-up

            .col-xl-5
                h2.title Ghế trang trí theo phong cách châu âu
                table.info
                    tr.code
                        td Mã sản phẩm
                        td DX02
                    tr.price
                        td Giá
                        td 
                            .social-links
                                a(href="#").btn-skype
                                    img(src="./img/_global/skype.png", alt="")
                                a(href="#").btn-zalo
                                    img(src="./img/_global/zalo.png", alt="")
                .separator
                .brief-content
                    p Phong cách thiết kế nội thất châu Âu luôn có sức hút mãnh liệt với các kiến trúc nhà ở thế giới và Việt Nam. Trong đó, bàn ghế phong cách châu Âu trở thành xu hướng lựa chọn của nhiều người bởi nó đề cao giá trị nghệ thuật và tính đa năng ngay từ cái nhìn đầu tiên.
                .separator
                .tools
                    a(href="javascript:void(0)").btn-share
                        em.mdi.mdi-share-variant
                    a(href="javascript:void(0)").btn-print
                        em.mdi.mdi-printer
                    a(href="javascript:void(0)").btn-download
                        em.mdi.mdi-cloud-download

        .full-info
            .tab-headers
                select.tab-links-mobile
                    option(value="tab-1" selected) Mô tả sản phẩm
                    option(value="tab-2") Chứng nhận chất lượng
                    option(value="tab-3") Thông số kỹ thuật
                    option(value="tab-4") Đánh giá sản phẩm
                .tab-links
                    a(data-tab="tab-1").active.tab-link Mô tả sản phẩm
                    a(data-tab="tab-2").tab-link Chứng nhận chất lượng
                    a(data-tab="tab-3").tab-link Thông số kỹ thuật
                    a(data-tab="tab-4").tab-link Đánh giá sản phẩm

            .tabs
                .tab#tab-1
                    p Một vài thập kỷ gần đây, công việc chúng ta gắn liền với máy tính và ghế ngồi. Hiểu được rằng nhu cầu sử dụng ghế ngồi là thiết yếu, và để tiết kiệm chi phí cũng như độ bền sản phẩm theo thời gian, Trường Thịnh quyết tâm cung cấp những mẫu ghế đáp ứng nhu cầu từng đơn vị, từng cá nhân. Nếu quý khách còn đang băn khoăn chưa chọn được mẫu thích hợp.
                    br
                    img(data-src='./img/sanpham/6.jpg', alt='').lazyload.blur-up
                    br
                    p Một vài thập kỷ gần đây, công việc chúng ta gắn liền với máy tính và ghế ngồi. Hiểu được rằng nhu cầu sử dụng ghế ngồi là thiết yếu, và để tiết kiệm chi phí cũng như độ bền sản phẩm theo thời gian, Trường Thịnh quyết tâm cung cấp những mẫu ghế đáp ứng nhu cầu từng đơn vị, từng cá nhân. Nếu quý khách còn đang băn khoăn chưa chọn được mẫu thích hợp.
                    br
                    p Một vài thập kỷ gần đây, công việc chúng ta gắn liền với máy tính và ghế ngồi. Hiểu được rằng nhu cầu sử dụng ghế ngồi là thiết yếu, và để tiết kiệm chi phí cũng như độ bền sản phẩm theo thời gian, Trường Thịnh quyết tâm cung cấp những mẫu ghế đáp ứng nhu cầu từng đơn vị, từng cá nhân. Nếu quý khách còn đang băn khoăn chưa chọn được mẫu thích hợp.
                    .btn-viewmore
                        a(href="javascript:void(0)" onclick="ShowMoreProductDetails('#tab-1')") Xem thêm
                .tab#tab-2
                    p tab2
                .tab#tab-3
                    p tab3
                .tab#tab-4
                    p tab4

        .other-products
            h2 Sản phẩm cơ khí
            .row.truongthinh-items
                .col-md-6.col-xl-4
                    a.truongthinh-item(href="javascript:void(0)")
                        .img
                            img(data-src='./img/thuvienanh/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                        .content
                            h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                        .cover
                            h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                .col-md-6.col-xl-4
                    a.truongthinh-item(href="javascript:void(0)")
                        .img
                            img(data-src='./img/thuvienanh/2.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                        .content
                            h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                        .cover
                            h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                .col-md-6.col-xl-4
                    a.truongthinh-item(href="javascript:void(0)")
                        .img
                            img(data-src='./img/thuvienanh/3.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                        .content
                            h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                        .cover
                            h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                .col-md-6.col-xl-4
                    a.truongthinh-item(href="javascript:void(0)")
                        .img
                            img(data-src='./img/thuvienanh/4.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                        .content
                            h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                        .cover
                            h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                .col-md-6.col-xl-4
                    a.truongthinh-item(href="javascript:void(0)")
                        .img
                            img(data-src='./img/thuvienanh/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                        .content
                            h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                        .cover
                            h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                .col-md-6.col-xl-4
                    a.truongthinh-item(href="javascript:void(0)")
                        .img
                            img(data-src='./img/thuvienanh/2.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                        .content
                            h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                        .cover
                            h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh