.sanpham
    h1 Cơ khí xây dựng
    .nav-headers
        .nav-links-mobile
            select
                option Sản phẩm nổi bật
                option cnc nghệ thuật
                option gia công thép theo yêu cầu
        .nav-links
            a(href="/sanpham.html").nav-link Sản phẩm nổi bật
            a(href="javascript:void(0)").nav-link cnc nghệ thuật
            a(href="javascript:void(0)").nav-link gia công thép theo yêu cầu

    .row.truongthinh-items
        .col-md-6.col-xl-4
            a.truongthinh-item(href="./sanpham-ct.html")
                .img
                    img(data-src='./img/thuvienanh/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                .content
                    h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                .cover
                    h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
        .col-md-6.col-xl-4
            a.truongthinh-item(href="javascript:void(0)")
                .img
                    img(data-src='./img/thuvienanh/2.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                .content
                    h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                .cover
                    h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
        .col-md-6.col-xl-4
            a.truongthinh-item(href="javascript:void(0)")
                .img
                    img(data-src='./img/thuvienanh/3.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                .content
                    h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                .cover
                    h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
        .col-md-6.col-xl-4
            a.truongthinh-item(href="javascript:void(0)")
                .img
                    img(data-src='./img/thuvienanh/4.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                .content
                    h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                .cover
                    h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
        .col-md-6.col-xl-4
            a.truongthinh-item(href="javascript:void(0)")
                .img
                    img(data-src='./img/thuvienanh/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                .content
                    h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                .cover
                    h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
        .col-md-6.col-xl-4
            a.truongthinh-item(href="javascript:void(0)")
                .img
                    img(data-src='./img/thuvienanh/2.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
                .content
                    h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
                .cover
                    h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh

    .modulepager
        ul.pagination
            li.PagerOtherPageCells
                a.ModulePager.FirstPage(href='#', title='Trang đầu tiên') «
            li.PagerOtherPageCells
                a.ModulePager.BackPage(href='#', title='Quay lại trang 5') ‹
            li.PagerCurrentPageCell.active
                span.SelectedPage(title='Đến trang 1') 1
            li.PagerOtherPageCells
                a.ModulePager(href='#', title='Đến trang 2') 2
            li.PagerOtherPageCells
                a.ModulePager(href='#', title='Đến trang 3') 3
            li.PagerOtherPageCells
                a.ModulePager(href='#', title='Đến trang 4') 4
            li.PagerOtherPageCells
                a.ModulePager(href='#', title='Đến trang 5') 5
            li.PagerOtherPageCells
                a.ModulePager.NextPage(href='#', title='Chuyển đến trang 7') ›
            li.PagerOtherPageCells
                a.ModulePager.LastPage(href='#5', title='Trang cuối') »
