.gioithieuchung
	.nav-headers
		.nav-links-mobile
			.custom-select
				.current-option
					span Godaco Seafood 1
					em.mdi.mdi-chevron-down
				.options
					a.custom-option(href='#', target='_blank') Godaco Seafood 1
					a.custom-option(href='#', target='_blank') Godaco Seafood 2
					a.custom-option(href='#', target='_blank') Godaco Seafood 3
					a.custom-option(href='#', target='_blank') Godaco Seafood 4
		.nav-links
			a(href="javascript:void(0)").nav-link Giới thiệu chung
			a(href="javascript:void(0)").nav-link Tầm nhìn - Sứ mệnh
			a(href="javascript:void(0)").nav-link Hình ảnh Trường Thịnh
			a(href="javascript:void(0)").nav-link Chứng nhận chất lượng

	.gioithieu#gioithieuprint(style="display: none")
		.row
			.col-xl-8
				h2 Trường thịnh corp
				br
				p Được thành lập từ năm 2007, Công ty CP Đầu Tư Xây Dựng &amp; Thương Mại TRƯỜNG THỊNH chúng tôi là một trong những công ty hàng đầu tại Việt Nam trong lĩnh vực xây dựng, trang trí nội thất, xuất nhập khẩu phụ gia thực phẩm, hóa chất, chế biến thủy sản, và các sản phẩm từ gỗ (viên nén mùn cưa - năng lượng sinh khối, mùn cưa ép khối, bột làm nhanh, gỗ thanh….)
				br
				p Với phương châm chất lượng là ưu tiên hàng đầu, TRƯỜNG THỊNH đã đáp ứng được các tiêu chuẩn cao nhất của các thị trường tiêu thụ trong nước và xuất khẩu. TRƯỜNG THỊNH mong muốn tạo nên một thương hiệu Việt, thể hiện tầm vóc trí tuệ và niềm tự hào Việt Nam trên trường quốc tế.
				br
				p Trải qua hơn 10 năm thành lập, xây dựng và phát triển, được sự tin tưởng từ các Chủ đầu tư trong và ngoài nước, TRƯỜNG THỊNH đã hoàn thành nhiều dự án lớn với chất lượng và tiến độ vượt trội thuộc các lĩnh vực xây dựng dân dụng &amp; công nghiệp, thuỷ điện, thuỷ lợi, M&amp;E, phòng cháy chữa cháy, trạm điện, trang trí nội thất…., tiêu biểu như: dự án Nhà máy Tôm giống Grobest tại Ninh Thuận, dự án Nhà máy sản xuất bê tông và cấu kiện bê tông đúc sẵn An Hoà tại Long An, dự án Nhà máy Thuỷ điện Đărk ‘Tih tại Đăk Nông, dự án Hiện đại hoá hệ thống Thuỷ lợi Dầu Tiếng tại Tây Ninh, nhà máy phụ gia thực phẩm Long An, nhà máy sản xuất gỗ Bình Phước, nhà xưởng cơ khí Dĩ An, bể xử lý nước thải, bể nước sạch….
			.col-xl-4
				.img
					img(src='./img/gioithieu/1.jpg', alt='')
		br
		.row
			.col-12
				p Trong lĩnh vực phụ gia thực phẩm và hoá chất TRƯỜNG THỊNH đã nhận được sự tin tưởng của hầu hết các doanh nghiệp chế biên thuỷ hải sản hàng đầu, tạo dựng chỗ đứng vững chắc trên thị trường trong và ngoài nước. Bên cạnh đó TRƯỜNG THỊNH đã và đang hợp tác với các đối tác, các nhà cung cấp có uy tín tại các quốc gia tiên tiến như Pháp, Bỉ, Đức, Ý, Nhật và Thái Lan… để cùng nghiên cứu và phát triển các sản phẩm mới trong lĩnh vực phụ gia thực phẩm và hóa chất nhằm đáp ứng nhu cầu ngày càng cao của thị trường trong nước và thế giới.
				br
				p Các sản phẩm từ gỗ của TRƯỜNG THỊNH như viên nén mùn cưa( năng lượng sinh khối ) dùng trong nhiệt điện và dăm bào ép khối để lót chuồng trại, giữ ấm cho gia súc … Cũng đã và đang nhận được sự tin tưởng từ các đối tác hàng đầu trên thế giới như Hàn Quốc, Nhật Bản, Đức, CH Séc và các nước xứ lạnh khác…Với nhu cầu ngày càng lớn từ các đối tác thì TRƯỜNG THỊNH đang triển khai xây thêm nhà máy để tăng sản lượng xuất khẩu.
				br
				p Công ty TRƯỜNG THỊNH luôn luôn phấn đấu để nâng cao chất lượng sản phẩm và mở rộng năng lực sản xuất để phục vụ thị trường trong nước cũng như thị trường quốc tế, cùng với sự cam kết đầy trách nhiệm về một thương hiệu TRƯỜNG THỊNH giá trị cốt lõi “Uy tín – Chất lượng – Hiệu quả” cùng với triết lý kinh doanh “Chất lượng sản phẩm hàng đầu, dịch vụ khách hàng tận tâm và chu đáo , trách nhiệm và phát triển bền vững với xã hội ”. TRƯỜNG THỊNH sẽ không ngừng đầu tư, cải tiến, thay đổi trên mọi phương diện và phấn đấu trở thành một trong những Tập đoàn kinh tế đa ngành hàng đầu Việt Nam và khu vực; hướng đến một Tập đoàn mang đẳng cấp quốc tế.
				br
				.block-quote
					p Chúng tôi cam kết luôn cung cấp cho các bạn những sản phẩm và dịch vụ tốt nhất và luôn luôn mong muốn được hợp tác lâu dài với tất cả các đối tác.
				br
		.row
			.col-12.tools
				a(href="javascript:void(0)").btn-share
					em.mdi.mdi-share-variant
				a(href="javascript:void(0)" onclick="onGioiThieuPrintClick('#gioithieuprint')").btn-print
					em.mdi.mdi-printer
				a(href="javascript:void(0)" onclick="onGioiThieuDownloadClick('#gioithieuprint')").btn-download
					em.mdi.mdi-cloud-download

	.tamnhin#tamnhinprint(style="display: none")
		.blocks
			.block
				.img
					img(src="./img/tamnhin/1.png", alt="")
				.content
					h2 Tầm nhìn
					p TRƯỜNG THỊNH sẽ không ngừng đầu tư, cải tiến, thay đổi trên mọi phương diện và phấn đấu để trở thành một trong những Tập đoàn kinh tế đa ngành hàng đầu Việt Nam và khu vực; hướng đến một Tập đoàn mang tầm quốc tế.
			.block
				.img
					img(src="./img/tamnhin/2.png", alt="")
				.content
					h2 sứ mệnh
					p TRƯỜNG THỊNH luôn luôn phấn đấu để nâng cao chất lượng sản phẩm và mở rộng năng lực sản xuất hơn nữa để hoàn thành sứ mệnh phục vụ nhu cầu thị trường trong nước cũng như thị trường quốc tế, cùng với sự cam kết đầy trách nhiệm về một thương hiệu TRƯỜNG THỊNH.
			.block
				.img
					img(src="./img/tamnhin/3.png", alt="")
				.content
					h2 Giá trị cốt lõi
					ul
						li
							h3 
								|Uy tín: 
								span Minh bạch trong mọi hoạt động, quản trị minh bạch, hợp tác minh bạch và lợi ích minh bạch.
						li
							h3 
								|Chất lượng: 
								span Cam kết chất lượng tốt nhất và luôn chủ động đưa ra giải pháp để làm tốt hơn những gì đã cam kết.
						li
							h3 
								|Hiệu quả: 
								span Luôn dẫn đầu trong việc ứng dụng những cải tiến nhằm mang lại hiệu quả tốt nhất cho khách hàng.
		.row
			.col-12.tools
				a(href="javascript:void(0)").btn-share
					em.mdi.mdi-share-variant
				a(href="javascript:void(0)" onclick="onTamNhinPrintClick('#tamnhinprint')").btn-print
					em.mdi.mdi-printer
				a(href="javascript:void(0)" onclick="onTamNhinDownloadClick('#tamnhinprint')").btn-download
					em.mdi.mdi-cloud-download

	.hinhanh
		h2 Hình ảnh trường thịnh
		.row.truongthinh-items
			.col-md-6
				a.truongthinh-item(href="./img/thuvienanh/1.jpg" fancybox-gallery="" data-fancybox="gallery-1")
					.img
						img(data-src='./img/thuvienanh/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
						img(data-src='./img/thuvienanh/2.jpg', alt='', fancybox-gallery="" data-fancybox="gallery-1").lazyload.blur-up
						img(data-src='./img/thuvienanh/3.jpg', alt='', fancybox-gallery="" data-fancybox="gallery-1").lazyload.blur-up
						img(data-src='./img/thuvienanh/4.jpg', alt='', fancybox-gallery="" data-fancybox="gallery-1").lazyload.blur-up
					.content
						h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
					.cover
						h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
			.col-md-6
				a.truongthinh-item(href="./img/thuvienanh/2.jpg" fancybox-gallery="" data-fancybox="gallery-2")
					.img
						img(data-src='./img/thuvienanh/2.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
						img(data-src='./img/thuvienanh/4.jpg', alt='', fancybox-gallery="" data-fancybox="gallery-2").lazyload.blur-up
						img(data-src='./img/thuvienanh/5.jpg', alt='', fancybox-gallery="" data-fancybox="gallery-2").lazyload.blur-up
						img(data-src='./img/thuvienanh/6.jpg', alt='', fancybox-gallery="" data-fancybox="gallery-2").lazyload.blur-up
					.content
						h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
					.cover
						h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
			.col-md-6
				a.truongthinh-item(href="javascript:void(0)")
					.img
						img(data-src='./img/thuvienanh/3.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
					.content
						h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
					.cover
						h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
			.col-md-6
				a.truongthinh-item(href="javascript:void(0)")
					.img
						img(data-src='./img/thuvienanh/4.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
					.content
						h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
					.cover
						h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh

	.chungnhan
		h2 Chứng nhận chất lượng
		.row.truongthinh-items
			.col-md-6.col-xl-4
				a.truongthinh-item(href="javascript:void(0)" onclick="customPopupV1(this)" data-src="#certificate-1")
					.img
						img(data-src='./img/chungnhan/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
					.content
						h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
					.cover
						h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
					.popup#certificate-1(style="display: none")
						.popup-wrapper
							.popup-image
								img(data-src='./img/chungnhan/1.jpg', alt='').lazyload.blur-up
							.popup-content
								h3 Chứng nhận chất lượng
								p Với đội ngũ lãnh đạo giàu kinh nghiệm, tập thể cán bộ có trình độ chuyên môn cao, nhiệt tình trong công việc, tập thể CB-CNV Công ty CP Đầu tư Xây dựng và Thương mại Trường Thịnh cam kết thực hiện một chính sách chất lượng nhất quán:
								ol
									li Thiết kế, thi công  xây lắp các công trình đúng quy trình, quy phạm kỹ thuật, đảm bảo chất lượng, tiến độ và an toàn, đáp ứng yêu cầu của mọi khách hàng.
									li Nâng cao nhận thức của toàn thể CB-CNV của Công ty trong việc áp dụng, duy trì và cải tiến liên tục để đảm bảo tính hiệu quả của hệ thống quản lý chất lượng.
									li Đào tạo, huấn luyện, bổ sung và phát triển nguồn nhân lực đáp ứng chính sách chất lượng.
			.col-md-6.col-xl-4
				a.truongthinh-item(href="javascript:void(0)" onclick="customPopupV1(this)" data-src="#certificate-2")
					.img
						img(data-src='./img/chungnhan/2.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
					.content
						h3 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
					.cover
						h4 Công Ty Cp Đầu Tư Xây Dựng &amp; Thương Mại Trường Thịnh
					.popup#certificate-2(style="display: none")
						.popup-wrapper
							.popup-image
								img(data-src='./img/chungnhan/2.jpg', alt='').lazyload.blur-up
							.popup-content
								h3 Chứng nhận chất lượng 2
								p Với đội ngũ lãnh đạo giàu kinh nghiệm, tập thể cán bộ có trình độ chuyên môn cao, nhiệt tình trong công việc, tập thể CB-CNV Công ty CP Đầu tư Xây dựng và Thương mại Trường Thịnh cam kết thực hiện một chính sách chất lượng nhất quán:
								ol
									li Thiết kế, thi công  xây lắp các công trình đúng quy trình, quy phạm kỹ thuật, đảm bảo chất lượng, tiến độ và an toàn, đáp ứng yêu cầu của mọi khách hàng.
									li Nâng cao nhận thức của toàn thể CB-CNV của Công ty trong việc áp dụng, duy trì và cải tiến liên tục để đảm bảo tính hiệu quả của hệ thống quản lý chất lượng.
									li Đào tạo, huấn luyện, bổ sung và phát triển nguồn nhân lực đáp ứng chính sách chất lượng.