.sidenav
    .item
        .zone-parent
            a(href="/tailieu.html") 
                span Tài liệu quy định
        .zone-list
            a(href="javascript:void(0)") Công trình DD &amp; CN
            a(href="javascript:void(0)") Thủy điện - thủy lợi
            a(href="javascript:void(0)") Hạ tầng - giao thông
    .item
        .zone-parent
            a(href="/hoidap.html") 
                span Hỏi đáp
        .zone-list
            a(href="javascript:void(0)") Công trình DD &amp; CN
            a(href="javascript:void(0)") Thủy điện - thủy lợi
            a(href="javascript:void(0)") Hạ tầng - giao thông
            a(href="javascript:void(0)") Đang thực hiện

.tailieu
    h1 Tài liệu quy định

    .page-title
        h2 1. Văn bản xây dựng &amp; cơ khí
        a(href="javascript:void(0)")
            span Xem thêm
            em.mdi.mdi-arrow-right

    .content
        .responsive-table
            table.truongthinh-table-v1
                thead
                    tr
                        th Tên tài liệu
                        th Ngày đăng
                        th Xem
                        th Tải về
                tbody
                    tr
                        td.title Công văn giải trình biến động lợi nhuận Quý 4/2018 so với cùng kỳ năm trước
                        td.text 23/02/2019
                        td.btn-view
                            a(href="./file/BCTC_HN_2016.pdf" target="_blank")
                                em.mdi.mdi-file-outline
                        td.btn-download
                            a(data-href="./file/BCTC_HN_2016.pdf" data-mimeType="pdf" data-fileName="BCTC_HN_2016").download_document
                                em.mdi.mdi-download
                    tr
                        td.title Giới thiệu chung về CNC Nghệ Thuật trong ngành Cơ khí xây dựng
                        td.text 23/02/2019
                        td.btn-view
                            a(href="./file/BCTC_HN_2016.pdf" target="_blank")
                                em.mdi.mdi-file-outline
                        td.btn-download
                            a(data-href="./file/BCTC_HN_2016.pdf" data-mimeType="pdf" data-fileName="BCTC_HN_2016").download_document
                                em.mdi.mdi-download
                    tr
                        td.title Quyết định 567/QĐ-TTg
                        td.text 23/02/2019
                        td.btn-view
                            a(href="./file/BCTC_HN_2016.pdf" target="_blank")
                                em.mdi.mdi-file-outline
                        td.btn-download
                            a(data-href="./file/BCTC_HN_2016.pdf" data-mimeType="pdf" data-fileName="BCTC_HN_2016").download_document
                                em.mdi.mdi-download
                    tr
                        td.title Điều lệ Công ty sửa đổi lần thứ 10 20/04/2018
                        td.text 23/02/2019
                        td.btn-view
                            a(href="./file/BCTC_HN_2016.pdf" target="_blank")
                                em.mdi.mdi-file-outline
                        td.btn-download
                            a(data-href="./file/BCTC_HN_2016.pdf" data-mimeType="pdf" data-fileName="BCTC_HN_2016").download_document
                                em.mdi.mdi-download
                    tr
                        td.title Báo cáo tài chính Công ty Cổ phần Trường Thịnh năm 2018
                        td.text 23/02/2019
                        td.btn-view
                            a(href="./file/BCTC_HN_2016.pdf" target="_blank")
                                em.mdi.mdi-file-outline
                        td.btn-download
                            a(data-href="./file/BCTC_HN_2016.pdf" data-mimeType="pdf" data-fileName="BCTC_HN_2016").download_document
                                em.mdi.mdi-download

    .truongthinh-table-v1-mobile.row
        .col-md-6
            .item
                h2 
                    span.title Điều lệ Công ty sửa đổi lần thứ 10 20/04/2018
                p
                    em.mdi.mdi-clock-start
                    span Ngày đăng: 25/04/2019
                a(href="./file/BCTC_HN_2016.pdf" target="_blank").btn-view
                    em.mdi.mdi-file-outline
                    span Xem
                a(data-href="./file/BCTC_HN_2016.pdf" data-mimeType="pdf" data-fileName="BCTC_HN_2016").download_document.btn-download
                    em.mdi.mdi-download
                    span Tải về
        .col-md-6
            .item
                h2 
                    span.title Điều lệ Công ty sửa đổi lần thứ 10 20/04/2018
                p
                    em.mdi.mdi-clock-start
                    span Ngày đăng: 25/04/2019
                a(href="./file/BCTC_HN_2016.pdf" target="_blank").btn-view
                    em.mdi.mdi-file-outline
                    span Xem
                a(data-href="./file/BCTC_HN_2016.pdf" data-mimeType="pdf" data-fileName="BCTC_HN_2016").download_document.btn-download
                    em.mdi.mdi-download
                    span Tải về
        .col-md-6
            .item
                h2 
                    span.title Điều lệ Công ty sửa đổi lần thứ 10 20/04/2018
                p
                    em.mdi.mdi-clock-start
                    span Ngày đăng: 25/04/2019
                a(href="./file/BCTC_HN_2016.pdf" target="_blank").btn-view
                    em.mdi.mdi-file-outline
                    span Xem
                a(data-href="./file/BCTC_HN_2016.pdf" data-mimeType="pdf" data-fileName="BCTC_HN_2016").download_document.btn-download
                    em.mdi.mdi-download
                    span Tải về
        .col-md-6
            .item
                h2 
                    span.title Điều lệ Công ty sửa đổi lần thứ 10 20/04/2018
                p
                    em.mdi.mdi-clock-start
                    span Ngày đăng: 25/04/2019
                a(href="./file/BCTC_HN_2016.pdf" target="_blank").btn-view
                    em.mdi.mdi-file-outline
                    span Xem
                a(data-href="./file/BCTC_HN_2016.pdf" data-mimeType="pdf" data-fileName="BCTC_HN_2016").download_document.btn-download
                    em.mdi.mdi-download
                    span Tải về