.tintuc
    .tagline
        h1 Tin tức

    .nav-headers
        .nav-links-mobile
            select
                option Tin doanh nghiệp
                option Tin thị trường
        .nav-links
            a(href="javascript:void(0)").nav-link Tin doanh nghiệp
            a(href="javascript:void(0)").nav-link.active Tin thị trường

    .row.truongthinh-news
        .col-md-6.col-lg-3.item
            a(href="/tintuc-ct.html").img
                img(data-src='./img/tintuc/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
            .content
                .time 15/05/2019 15:05:19 PM
                h2
                    a(href="javascript:void(0)") Giá cá tra xuất khẩu sang thị trường Mỹ tăng mạnh
                .brief-content
                    p Mặc dù lượng cá tra xuất khẩu sang thị trường Mỹ suy giảm kể từ sau ngày 2/8/2017, nhưng ngược lại kim ngạch đạt cao bởi giá xuất tăng mạnh lên gần 4 USD/kg. FDI đăng ký tích lũy tính đến cuối năm 2017 đạt xấp xỉ 318,72 tỷ USD, trong đó, theo thống kê của Cục Đầu tư nước ngoài Việt Nam, đầu tư trực tiếp vào lĩnh vực BĐS nói riêng đạt 53,2 tỷ USD
        .col-md-6.col-lg-3.item
            a(href="/tintuc-ct.html").img
                img(data-src='./img/tintuc/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
            .content
                .time 15/05/2019 15:05:19 PM
                h2
                    a(href="javascript:void(0)") Giá cá tra xuất khẩu sang thị trường Mỹ tăng mạnh
                .brief-content
                    p Mặc dù lượng cá tra xuất khẩu sang thị trường Mỹ suy giảm kể từ sau ngày 2/8/2017, nhưng ngược lại kim ngạch đạt cao bởi giá xuất tăng mạnh lên gần 4 USD/kg. FDI đăng ký tích lũy tính đến cuối năm 2017 đạt xấp xỉ 318,72 tỷ USD, trong đó, theo thống kê của Cục Đầu tư nước ngoài Việt Nam, đầu tư trực tiếp vào lĩnh vực BĐS nói riêng đạt 53,2 tỷ USD
        .col-md-6.col-lg-3.item
            a(href="/tintuc-ct.html").img
                img(data-src='./img/tintuc/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
            .content
                .time 15/05/2019 15:05:19 PM
                h2
                    a(href="javascript:void(0)") Giá cá tra xuất khẩu sang thị trường Mỹ tăng mạnh
                .brief-content
                    p Mặc dù lượng cá tra xuất khẩu sang thị trường Mỹ suy giảm kể từ sau ngày 2/8/2017, nhưng ngược lại kim ngạch đạt cao bởi giá xuất tăng mạnh lên gần 4 USD/kg. FDI đăng ký tích lũy tính đến cuối năm 2017 đạt xấp xỉ 318,72 tỷ USD, trong đó, theo thống kê của Cục Đầu tư nước ngoài Việt Nam, đầu tư trực tiếp vào lĩnh vực BĐS nói riêng đạt 53,2 tỷ USD
        .col-md-6.col-lg-3.item
            a(href="/tintuc-ct.html").img
                img(data-src='./img/tintuc/1.jpg', alt='', data-object-fit-cover="").lazyload.blur-up
            .content
                .time 15/05/2019 15:05:19 PM
                h2
                    a(href="javascript:void(0)") Giá cá tra xuất khẩu sang thị trường Mỹ tăng mạnh
                .brief-content
                    p Mặc dù lượng cá tra xuất khẩu sang thị trường Mỹ suy giảm kể từ sau ngày 2/8/2017, nhưng ngược lại kim ngạch đạt cao bởi giá xuất tăng mạnh lên gần 4 USD/kg. FDI đăng ký tích lũy tính đến cuối năm 2017 đạt xấp xỉ 318,72 tỷ USD, trong đó, theo thống kê của Cục Đầu tư nước ngoài Việt Nam, đầu tư trực tiếp vào lĩnh vực BĐS nói riêng đạt 53,2 tỷ USD
    .modulepager
        ul.pagination
            li.PagerOtherPageCells
                a.ModulePager.FirstPage(href='#', title='Trang đầu tiên') «
            li.PagerOtherPageCells
                a.ModulePager.BackPage(href='#', title='Quay lại trang 5') ‹
            li.PagerCurrentPageCell.active
                span.SelectedPage(title='Đến trang 1') 1
            li.PagerOtherPageCells
                a.ModulePager(href='#', title='Đến trang 2') 2
            li.PagerOtherPageCells
                a.ModulePager(href='#', title='Đến trang 3') 3
            li.PagerOtherPageCells
                a.ModulePager(href='#', title='Đến trang 4') 4
            li.PagerOtherPageCells
                a.ModulePager(href='#', title='Đến trang 5') 5
            li.PagerOtherPageCells
                a.ModulePager.NextPage(href='#', title='Chuyển đến trang 7') ›
            li.PagerOtherPageCells
                a.ModulePager.LastPage(href='#5', title='Trang cuối') »